[2018-03-06 09:29] ratiw commented on #396
@Bombay The 2 or more rows table header will be available in Vuetable-2 v2.0. It is currently in the alpha state.

[2018-03-06 10:00] Bombay commented on #396
@ratiw
Thank you for quick response!

[2018-03-06 10:35] Bombay commented on #396
@ratiw
Could you roughly know the schedule?

[2018-03-07 03:33] kakakhang commented on #396
Here is a temporary way for you to achieve this while waiting official release.

You can customize fields object by adding extra property such as subHeader
 {
      name: 'fieldName',
      title: 'Title',
      subHeader: {
        template : 'Your template here',
        // callback(){}
        // what ever
      },
  },

Listen event:  'vuetable:loaded': function() {
       // 1. Check if field

[2018-03-07 04:21] Bombay commented on #396
Oh thank you. I'll test it. :)

[2018-03-07 12:38] killua99 opened #397 "How could I use vue-awesome for icons ?"
I was testing many thing how could I use https://github.com/Justineo/vue-awesome with this table.

So far I was trying with thing like

[code]

but for obvious reason the render does not compile the component icon.

Thanks in advance for this component!

[2018-03-07 14:09] ratiw commented on #397
@killua99 `renderIcon` only works with normal DOM element, so its purpose is to allow you to config Vuetable to work with CSS frameworks other than the default one.

However, you should be able to use `vue-awesome` inside `__component` and `__slot` special fields.

[2018-03-07 14:18] ratiw commented on #396
@Bombay Originally, it was targeted to be released during January, but I got stuck with other works and cannot finish it in time. For this feature, I need to fine-tune it a little bit. The documentation is a major show stopper though because there are so many more features and customization than the current version.

@kakakhang Your solution is quite advance. I myself also never thought that it co

[2018-03-07 14:27] ratiw commented on #394
@mrin9 Now, I understand what you mean. It is a valid point and this can already be done in the next release of Vuetable-2 (v2.0).

In v2.0, you can define any number of additional properties in the fields definition for each field. Vuetable will only look for and use the properties that it knows, the rest will still be there after fields definition has been initialized. The Field component will n

[2018-03-07 15:47] killua99 commented on #397
I'm using a __slot for actions, but I'm trying to figure out how to add the __slot inside the th table, and not a data cell.

I'll keep looking the examples but if you have something quick to show me, what I'm trying to achieve.

Again thanks

[2018-03-07 16:25] ahjorth commented on #393
@rajeevbbqq that's not for vuetable-2

[2018-03-07 19:08] killua99 commented on #397
For the way I see it, I could do:

[code]

There I could use vue-awesome without any problem, is that right? then I could do something like `<icon :name="renderIcon" />`

I was trying to understand how could I use __component but I didn't figure out how edit _<thead>_ specially _th_

[2018-03-08 00:20] ratiw commented on #397
@killua99 Unfortunately, the current version of Vuetable does not support `__slot` nor `__component` rendering in the `<thead>` and `<th>`.  That would be available only for field component in the next version.

The only way to render icon in `<th>` in v1.7, you will have to use normal HTML like `<i class="fa fa-xxxx"></i>` instead.

[2018-03-08 03:59] kakakhang commented on #396
This is field definition for amount column:

![fields](https://user-images.githubusercontent.com/4980542/37132198-2d491fda-22bf-11e8-9e1f-4a6915fc6ce3.png)

![demo](https://user-images.githubusercontent.com/4980542/37132272-976fd458-22bf-11e8-8690-3260b9a32e93.png)

[2018-03-08 07:40] ericksongmr commented on #393
@ratiw I work perfectly, thank you, I can do it with the example you gave me. Thank you

[2018-03-08 08:27] killua99 commented on #397
Would you like a PR about it, or do you have some roadmap to include these things?

[2018-03-08 12:46] ratiw commented on #397
@killua99 It's already in the work. Just need to tidy up things and re-do the tutorial and documentation before I can publish it. Thanks for asking anyway. 👍

[2018-03-08 13:10] jeitnier commented on #356
In that case then you should probably be considering hiding certain columns on mobile. Do you really need all the data or just some? If you try to cram things in a small space it will be unreadable. You can’t really have it all.

[2018-03-08 15:10] The-BlackWidow commented on #214
Hi everyone, any update ?

[2018-03-09 11:41] nkwinder commented on #395
solved my issue

i was using webpack.optimize.UglifyJsPlugin (v0.4.6 version of the uglify plugin)

added the latest one as described here:
https://webpack.js.org/plugins/uglifyjs-webpack-plugin/

[2018-03-09 11:41] #395 closed

[2018-03-09 17:16] nkwinder commented on #317
Any update on this one? This would allow filters to be more 'integrated' to the table, rather than being completely outside of the table.

[2018-03-10 10:56] egerb commented on #257
Just want to remind, please approve this PR bugfix, thank you

[2018-03-12 14:03] baroneddy opened #398 "Query issue with page number"
Hi there!

I am using Drupal 8 as backend here with the module [Vuetable](https://www.drupal.org/project/vuetable). It return me a json properly formatted for vuetable. The issue I have is that the first page is page=0. When loading the vuetable, it queries page=1.

I tried to use query-params to ask for page 0, but it break the pagination. I feel like I am missing something here.

How should I ap

[2018-03-12 14:57] killua99 commented on #336
I'm running with the same thing. altho I "solve it" with a watch like.

[code]
Still it feels a bit wrong to do this, there's another solution to ascynchronous data ??

[2018-03-12 15:31] ratiw commented on #336
@anit05 Sorry, I've so busy that I forgot about your question. It was the comment fro @killua99 that actually brought me back to this.

Anyway, after seeing the above code I was wondering why are you calling the API yourself since Vuetable is created to work with asynchronous data from the beginning. It even provides a `transform` function to allow it to work with almost any API.

[2018-03-12 15:36] ratiw commented on #398
@baroneddy Hmm, it never occur to me that there would be a pagination that starts with 0 actually. And yes, I think you would have to rewrite the logic in `VuetablePagination` to make it work because the first page is default to 1. If you look at `VuetablePaginationMixin`, you should be able to modify some logic in there to make it work with page 0.

[2018-03-12 15:46] baroneddy commented on #398
I am going to try to alter the source first. That would seems smarter, I saw a lot of people asking for this in the Drupal community.

[2018-03-12 16:49] baroneddy commented on #398
So I did manage to make it work on the vuetable side by change this:

`gotoPage (page) {
      if (page != this.currentPage && (page >= 0 && page <= this.tablePagination.last_page)) {
        this.currentPage = page
        this.loadData()
      }
},`

and

`initialPage: {
    type: Number,
    default: 0
},`

These 2 changes are in Vuetable.vue. I did those change directly in the node-module, so

[2018-03-13 14:02] qerim opened #399 "Data Transformation - Minor array name fix"
On the Wiki section - [Data-Transformation](https://github.com/ratiw/vuetable-2/wiki/Data-Transformation)

Chnage ` transformed.data.push({` to `transformed.mydata.push({`

[2018-03-14 16:02] bernhardh opened #400 "How to rerender the table"
What I want to do, is to dynamically change the table columns by setting them visible or invisible.

So for example, I have the fields definition:

[code]

in my component, I just modify the visiblity of a field with the help of checkboxes.

How to tell vuetable to refresh itself? `this.$refs.vuetable.refresh();` only sets the paging to 1 and `this.$refs.vuetable.reload();` only reloads the API, b

[2018-03-14 16:12] bernhardh commented on #400
Ok found out, that there are

this.$refs.vuetable.showField(index)
this.$refs.vuetable.hideField(index)

methods, so I can use this.

[2018-03-14 16:12] #400 closed

[2018-03-15 13:12] #398 closed

[2018-03-19 06:22] ratiw commented on #398
@baroneddy I can probably introduce another prop for that purpose though.

[2018-03-19 10:45] bogdan-dubyk opened #401 "Is there a way to add total row at the end of datatable"
Hello. I want to add few rows at the end of datatable.

The first row is a sum of all values per column on the current page
The second row is a sum of all values per column not related to the current page (this information I want to send from backend).

What is the best way to do so? Thanks!

[2018-03-19 10:55] bogdan-dubyk commented on #401
I think I can use https://ratiw.github.io/vuetable-2/#/Data-Transformation , but I'm not sure how to link this method with vue table. In docu it mentioned only to **To setup the data transformation function, just create a transform method in the parent instance of Vuetable like so,** and I have 2 tables in the page, but this additional rows I need to show only for one the tables

[2018-03-20 03:52] fathan opened #402 "Customize checkbox vuetable2?"
i use https://hamed-ehtesham.github.io/pretty-checkbox-vue for checkbox/radio styling, but i confused implement case in vuetable for customize style checkbox. there is solution for me? thanks

[2018-03-20 05:45] ratiw commented on #402
@fathan You may have to use either `__slot` or `__component` special field for that. `__slot` is probably more convenient.

[2018-03-20 05:46] ratiw commented on #399
@qerim Thanks! 👍

[2018-03-20 10:18] fathan commented on #402
@ratiw can you give a simple example for this __slot case? thanks

[2018-03-20 16:14] ratiw commented on #402
See this [output](https://zwvwq3o5lp.codesandbox.io/) from [this CodeSandbox](https://codesandbox.io/s/zwvwq3o5lp)

[2018-03-21 00:35] fathan commented on #402
ok thank you

[2018-03-21 05:58] ratiw commented on #401
@bogdan-dubyk I'm not sure why you think the `transform` function would help on that. The purpose of the `transform` function is to transform your API data into the structure that Vuetable can use. It has nothing to do with adding two row at the end of the table.

I think what you can do at the moment is to create a `<div>` underneath Vuetable to display the data that you want, but it will not be

[2018-03-21 10:45] shafayet1991 commented on #249
The **name** option in field definition does not support array referencing but  the **callback** function can solve the problem. If you want to show **review_content** then try this.

[code]

[code]

[2018-03-21 10:53] bogdan-dubyk commented on #401
@ratiw  thanks for your replay.

Response:
[code]

and there are 6 more records in this case for page 2.

So I want to add 2 more rows one to calculate total `impressionsCount` and  `price` per page, and one to calcualte overall  `impressionsCount` and  `price`

Exmaple:

| First Date    | Amount of impressionsr | Payout   |
| ---------------- | ------------------------------- | ----------- |
| 20

[2018-03-21 11:03] bogdan-dubyk commented on #401
I made it through the backend. I'm generating that 2  additional rows on the backend and returning 12 rows, not 10 as expected (but as  `per_page` value I'm still using 10  ), but pagination info showing a number of rows with this 2 additional rows.
For the first page is **Displaying 1 to 12 of 16 items**
For seconds page **Displaying 11 to 18 of 16 items**

I'm assuming that pagination info calcu

[2018-03-21 13:25] Mweydert opened #404 "Header not fixed when row details lead to render a scrollbar"
Hi,

First thank you for this awesome lib !

I face what seems to be a bug when openning a detail-row.
My table has columns width and height fixed so that my header add the 'vuetable-gutter-col' when displaying a large number of items.
Nevertheless the gutter is not added when opening a detail-row (that makes a scrollbar appear).

Is there any reason preventing to call the method [fixHeader](https

[2018-03-22 04:09] ratiw commented on #404
@Mweydert What environment are you on? Mac or Windows? Which browser you have experience this? Is it possible to setup a jsfiddle or codepen to demonstrate your problem?

[2018-03-22 04:28] ratiw commented on #401
@bogdan-dubyk I think you shouldn't do that, it would cost more problem down the road by messing with the actual data. I would instead suggest that you sent those two additional data as meta data (the same as the pagination information)

[code]

You could then use the `VuetablePaginationInfo` component as a guide to make your own `PaginationInfo` component where you can display those two informati

[2018-03-22 04:34] ratiw commented on #317
Documentation is not moving very fast, but if you want to try it, please check [this codesandbox](https://codesandbox.io/s/v05rx0nmj7) out.

Notice the `tableHeader` slot in use in `MyVuetable.vue`.

Please also note that you'll have to install the component with `@next` tag like so,

[code]

[2018-03-22 09:43] Mweydert commented on #404
I am working on Ubuntu 14.04 (trusty), Node.js 6.13.1 and Vuetable-2 1.7.5.
I experienced this issue on Chrome 59 and Firefox 52.

The API I use is only reachable within my company so it's a bit complicated for me to setup a codepen that demonstrates my situation.
While I am not able to show you the exact problem I described, I set up a [codepen](https://codepen.io/MWeydert/pen/YaVvep) that illust

[2018-03-22 12:24] mix359 commented on #309
Hi to all,

Any news about that?
I still can't find any component that does what I need, and vuetable is, by far, the one that seam to work better for me.

I would really like to "extend" in any way the component, so that someone can decide to have the additional function (like the pagination), but I need at least some "anchor point" in the header of the table, to place the filter icon, and that t

[2018-03-23 04:02] ratiw commented on #404
@Mweydert Unfortunately, I'm unable to test it on Ubuntu. But I've looked at the codepen you prepared, the header is still fixed as usual when I added more rows. I've tested this on both Mac (with latest Chrome, Firefox, and Safari) and on Windows 10 (with latest Chrome and Firefox version), they are all worked as it should. Is it possible for you to test this on any other machine?

[2018-03-23 04:17] ratiw commented on #309
@mix359 It will be possible to create your own header component in v2.0 of Vuetable-2.

In v2.0, a new prop called `header-rows` can be used to specify a list of component to be responsible for rendering row header. Also, you can use a new `tableHeader` scoped slot for that purpose.

This is the Vuetable-2 specific component plugin system, so it will only work with Vuetable-2 but it would be possi

[2018-03-23 08:46] Mweydert commented on #404
@ratiw I have tested the codepen on one of my coworker machine (chrome 61) and still have the issue.
To be sure, you are saying you don't see the small gap between table header columns and table body columns ?
![vuetable gap columns](https://user-images.githubusercontent.com/14289151/37819795-07999d34-2e7f-11e8-9718-944409f47a97.PNG)

[2018-03-23 10:35] ratiw commented on #404
Oh, I see what you mean. I do miss that. I think I've already fixed at for v2.0, but may not port that back to v1.7 yet. Will look into it. Sorry, about that.

[2018-03-23 10:47] nkwinder opened #405 "infinite loop loading when using loader divs with v-if"
I don't know if i'm doing something wrong, or this is a vue bug, or a vuetable bug.

https://codepen.io/anon/pen/EEXewo

I just added some divs that are shown when vuetable is loading. When using v-if, there is an infinite loop (when completed loading, vuetable starts loading again). If  v-show is used, instead of v-if in these divs... then there is no problem.

thanks

[2018-03-23 11:55] mix359 commented on #309
Thanks @ratiw, that sound really awesome!

Does those v2.0 alpha is in any branch? Or is unreleased yet?
Just to see it and start making the components :)

Cheers
Mix

[2018-03-23 12:53] bogdan-dubyk commented on #401
Thank you @ratiw !!

[2018-03-23 12:53] #401 closed

[2018-03-23 13:28] ratiw commented on #309
It is in the `next` branch. This [CodeSandbox](https://codesandbox.io/s/3nxjjjkw6) is a work in progress but still can demonstrate this feature.

I'm working on the updated documentation and tutorial, but if you're curios, there are plenty of examples in [my CodeSandbox](https://codesandbox.io/u/ratiw/sandboxes) that will be included in the tutorial.

You should be able to retain most of the setti

[2018-03-24 05:50] thinkerytim opened #406 "Access key id from other columns"
Is it possible to access the key id of the row in the callback? For example one of my callbacks formats a column as an image. But I'd like to link this image to another page keyed by the id of the row. So I'd like to do something like this in the callback:

[code]

[2018-03-24 09:47] ratiw commented on #405
@nkwinder It's a bit strange. Try changing `v-if` to `v-show` instead.

[2018-03-24 09:53] ratiw commented on #406
@thinkerytim No, you can't because `callback` is primarily used for formatting column value. You should instead use `__slot` instead. It provides scoped data like `rowData` and `rowIndex`, you have to limitation on `__slot`.

[2018-03-24 11:17] nkwinder commented on #405
Yes as i said v-show is working. Changing the div order also works... (moving the overlay div before vuetable).
But this is very strange behavior and i would like to know whats the problem here.

[2018-03-24 13:57] gabyrusu opened #407 "use callback to render a cell from the parent component"
how can I use the callback to render a cell from the parent component? I don't want all my render functions to go on "my-vuetable" component.

user-config.js
[code]
UserComponent.vue

[code]

This doesn't work. That function is not being called.

Any help?

[2018-03-25 02:38] ratiw commented on #407
Vuetable only looks for the given callback function name from within its field definition and the parent instance. My guess is that your function is in the grand-parent instance, so it didn't work.

[code]

In v2.0, the callback will only support Function, so function lookup will no longer work. I would recommend putting the callback (formatter) function directly in the field definition itself for

[2018-03-25 04:40] ratiw commented on #405
I don't know for sure what caused it, but I guess that `v-if` might have forced re-evaluation of the component as it reinsert the dom. This is not happening with `v-show` as it only show/hide the dom.

[2018-03-25 09:25] gabyrusu commented on #407
Thanks @ratiw!

I already did. In fact I created a "utilities" file in which I have all my reusable render functions. The redenderDate function, for example,  will be used in a lot of places so it makes no sense declaring it on every grid configuration file.

[2018-03-25 09:25] #407 closed

[2018-03-25 09:58] gabyrusu commented on #407
How can I pass extra arguments on the callback function if used like this?

datagrid-utils.js
[code]

user-config.js
[code]

[2018-03-27 03:16] sherlyseptiani commented on #365
@mondul tried this but it doesn't work

[2018-03-27 03:21] sherlyseptiani opened #408 "Table shows empty data because the backend return dictionary"
I set the header from httpOptions but apparently it still doesn't work, can you just enable sort, pagination, filter, etc on local vue data? I think it's more flexible that way; to handle the request and data manipulation by ourselves and then use your table just to display it properly.
Thanks

This is what it looks like on my code anyway:
` httpOptions: {headers: { Authorization: 'Basic YXBpOnBhc

[2018-03-27 03:31] ratiw commented on #408
@sherlyseptiani Can you please explain more why it doesn't work? You didn't get the value you put in the `httpOptions` in the backend?

You could use Vuetable in "Data" mode by specifying `api-mode="false"` and feed the data you want Vuetable to display via `data` prop or `setData` function. See example [here](https://codepen.io/ratiw/pen/LyLpow?editors=1010).

[2018-03-27 03:44] sherlyseptiani commented on #408
Sorry it's my fault. The HTTP options actually works but it returns dictionary instead of array, so the table shows empty data. I will edit this issue

[2018-03-27 05:18] ratiw commented on #408
What is the dictionary you mentioned looks like?

[2018-03-27 06:38] sherlyseptiani commented on #408
something like this:

[2018-03-27 07:11] ratiw commented on #408
Actually, it looks more like an object containing data. Are you sure this is correct?

If it is an array of object, it should look something like this
[code]

If it actually is correct, you will have to declare [`transform`](https://github.com/ratiw/vuetable-2/wiki/Data-Transformation) function to transform your data into the structure that Vuetable can work with. See [here](https://github.com/rat

[2018-03-27 07:51] sherlyseptiani commented on #408
Thank you so much for your help and incredibly fast responses. I managed to do it thanks to your help. Much appreciated!! Thank you!!!

[2018-03-27 07:51] #408 closed

[2018-03-27 13:46] kwame101 commented on #406
I had this same problem, I fixed by using vue router and __slot but you can create a method and call it like you've already done.

Here is my vuetable compoment code:
[code]

And here you just include in your other component like:
[code]

@ratiw could you please update the tutorial to use slot-scope instead of scope?

[2018-03-28 16:27] baroneddy commented on #398
That would indeed be awesome :)

[2018-03-29 03:07] sherlyseptiani opened #409 "api-mode false pagination"
Hi, how to do the pagination on local data mode using semantic-ui?
I have followed [this](https://codesandbox.io/s/239v6w2vkp) but it's for bootstrap, thank you

[2018-03-29 03:49] ratiw commented on #409
Please follow the [tutorial](https://github.com/ratiw/vuetable-2-tutorial) first.

[2018-03-29 07:28] RZetko opened #410 "Feature request: Support for custom transition classes"
Hello

I'm using vuetable-2 and animate.css in my project and I would like to be able to implement enter/leave transitions for table rows to better inform user of new content added/removed to/from table. It should be pretty simple addition (2 new props to transition tag before tr) and if there's interest in it I could create PR for it.

Here's VueJS documentation on said feature. https://vuejs.org

[2018-03-29 08:29] #409 closed

[2018-03-29 09:20] ratiw commented on #410
@RZetko Please send in the PR, I'll be happy to consider it. Thanks 👍

[2018-03-29 12:32] RZetko commented on #410
@ratiw Just created PR for it #411. One issue I noticed while trying to implement it is that transition group needs all items to have assigned keys to drive the transitions and identify all the elements. Most items had keys assigned but <tr> which is driven by displayEmptyDataRow variable had not assigned key because it was not part of any v-for. It should be shown only when table is empty, so I a

[2018-04-02 03:24] TatChu opened #412 "Error occur with cell is a component"
I have a table with a column is a vue custom component.
The first time get data from API, vuetable will render all component by data loaded.
Error on next time. Component will be not re render, so component display will not compatible to rowData.
To force re render when reload table i must reset data
`this.$refs.vuetable.tableData = null;`

[2018-04-02 03:34] ratiw commented on #412
What is the error message that you see? How do you use your component with Vuetable, `__slot` or `__component`? If you could set up a jsfiddle or codepen to show the problem, it would greatly help.

[2018-04-03 05:11] TatChu commented on #412
I not sure this is a error. because this can be a vue's feature.
You can see on jsfiddle [https://jsfiddle.net/tatchu/eywraw8t/8902/](link jsfiddle)

[2018-04-03 19:58] bernhardh opened #414 "__component and events"
I am using the special __component field just as described in https://github.com/ratiw/vuetable-2-tutorial/wiki/lesson-11

In your example, you are just logging something to the console on click. I need to create a new event and bubble it up:

[code]

The parent of the component is the vuetable itself, so

`<vuetable @delete-row="doSomething" ....></vuetable>`

Should work, but nothing happens (do

[2018-04-04 07:27] ratiw commented on #414
@bernhardh This is quite tricky to explain. But in the `deleteRow` method, if you use `this.$parent.$emit()` instead, it would probably work.

This is because you're listening to the custom event originated from your component inside Vuetable component. The event system in Vue 2 is not the same as in Vue 1, so it no longer buble up or down the chain as it use to be. You are suppose to use `v-on` t

[2018-04-04 07:41] bernhardh commented on #414
Ok, thanks.

As an not so nice workaround, I now do the following:

[code]

With this, I can create a default behavior in the component itself and create custom/specific behavior in the parent component if needed.

[2018-04-04 07:41] #414 closed

[2018-04-05 22:35] edgarscr opened #415 "Next and Previous"
Hello, howdy?

Im using vuetable 2 and i wanna now how can i make to get next and previous items on the table row?

example i have expanded item 04 then i have two buttons "**Next = item 05**" and "**Previous = item 03**"

thanks for ur time

[2018-04-06 09:25] hanxue opened #416 "Ensure column width is respected"
I have a wide table with 34 columns, and I need the `title` column to have sufficient width so that it will not wrap.

These are the field definitions:

[code]

This is how it ends up:

![image](https://user-images.githubusercontent.com/760008/38413221-a61a7598-39bd-11e8-9523-1f14941b0b78.png)

How can I ensure the `title` column has at least a width of 120px?

### Environment

vuetable-2: 1.7.5
v

[2018-04-06 10:33] ratiw commented on #416
I think this is actually the DOM issue. If you don't want the column to wrap when it does not have enough space to display, you may need to set some styling to force it not to wrap. I can't remember which one though.

[2018-04-06 10:37] ratiw commented on #415
Sorry, I don't understand what you mean. Do you have a drawing or picture of what you're trying to do?

[2018-04-06 13:31] edgarscr commented on #415
@ratiw example, we can open a item to display more information, well, when i open for more information i need to add the btns Next and Previous to change and open more information

[2018-04-06 13:33] Blizzke opened #417 "Disable sortable with __slot and/or __component?"
By using the `sortField` property to pass the field name to either the slot or component, the field is effectively made sortable and there is no easy way to get rid of this.
In my case this is far from what I would like as my custom visualisations are definitely not sortable.

Can this be modified? I see a couple possible, fairly easy, solutions:

Backwards compatible:
* modify `isSortable()` to a

[2018-04-06 15:14] basit74 opened #418 "through site navigation the v-server-table triggers more a more request"
I have a product list page, where I am using the vue-table2.

If I navigate through the site, from list to Detail page, to Cart and come back to list page ...

every time the ajax requests will be doubbled. I think the  every time the list page is called, the vue-table2 events are initilized again.

Is there any solution fo that?

[2018-04-06 15:35] ratiw commented on #417
@Blizzke In version 2.0 of Vuetable, the `field` object is passed to both slot and component instead of just the `sortField`. The reason I'm not yet back-port this feature is because of the backward compatibility issue. So, this is going to be a breaking change in v2.0.

[2018-04-06 15:57] luca-giardina opened #419 "Pagination without using API MODE"
There is a way to use pagination and to let this package works properly without using api mode? I'm puzzling my head.

[2018-04-06 21:36] edgarscr commented on #415
@ratiw  I try to explain my issue simpler.
We have simple overview ticket cells with limited information.
Example:

![image](https://user-images.githubusercontent.com/33737821/38445272-d926b5e8-39c0-11e8-83de-903c443547cd.png)

If you open a ticketcell, he shows the more detailed row in a modal. Like here:
![image](https://user-images.githubusercontent.com/33737821/38445297-eed50f8e-39c0-11e8-8f1c

[2018-04-07 08:03] Blizzke commented on #417
Good to know thank you. Is 2.0 very far off in your estimates?
If it's months out it might be better if I fork and update my own version.
If it's relatively close I'll just wait.

[2018-04-07 13:23] elton182 opened #420 "Access lower level data on json"
Hi, is it possible to access data on nested json

[code]

then on tableData and columns how should i pass this?

[code]

[2018-04-07 13:32] elton182 commented on #420
I already solved this.

https://github.com/matfish2/vue-tables-2/issues/461

[2018-04-07 13:32] #420 closed

[2018-04-09 05:58] Tarasovych opened #421 "Is this an expected behavior of field callback?"
[code]
and
[code]
causes that no data is loaded (even no api-url is called), because of empty object after `'name', 'email',`.

[2018-04-09 06:52] ratiw commented on #421
Passing an empty object is never an intended behavior. Vuetable also doesn't check for this, so the outcome is undetermined. It probably throws an error and stop all other functions.

Did you see any error in the console?

[2018-04-09 06:54] Tarasovych commented on #421
@ratiw there were no console errors. Thanks.

[2018-04-09 06:54] #421 closed

[2018-04-09 08:15] boomhq opened #422 "Error when i use '__checkbox'"
Hello Ratiw,

Thanks for your job one more time it's always amazing . I have a probleme maybe somone can help me.

When i add on my fields definition '__checkbox'(I used track-By props with string) . The pagination break with this error :

    at VueComponent.checkCheckboxesState (vuetable-2.js?f505:formatted:1978)

On detail the Vuetable component update fine : tableData with new value but no ren

[2018-04-09 10:07] ratiw commented on #422
This is strange. Can you create a sample project on jsfiddle, codepen, or codesandbox to demonstrate this? It will help me go through the code and find out the problem.

[2018-04-09 10:12] ratiw commented on #415
How do you pass the data into the modal?

[2018-04-09 13:37] edgarscr commented on #415
i use two methods to make a view call:
**HTML**
`<vuetable @vuetable:cell-clicked="onCellClicked" @vuetable:row-dblclicked="onRowDBLClicked" </vuetable>`
**JS**
[code]
**JS**
[code]
					<template slot="actions" scope="props">
						<div class="table-button-container row pr-2 justify-content-center">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p-0" style="order: 1;"><button class="btn b

[2018-04-10 09:39] boomhq commented on #422
Hello Ratiw i have solved my problem (from my side).
The Error appear if the data representation change. If i dont use __checkbox vuetable2 negociate with no problem. But if it's used  checkstateCheckbox failed (logic)

Origin :
I'm use Laravel 5.5 and use a paginate for collection like LengthAwarePaginator but for an unknow reason
On Page 1 the data have this presenter :

`data:[
{obj},
{obj}
]`

[2018-04-10 09:49] #422 closed

[2018-04-11 17:26] Tarasovych opened #423 "[Vue warn]: Missing required prop: "rowData" found in <Root>"
I didn't found similar issue yet.
My code:
[code]
[code]
[code]
I have an error `[Vue warn]: Missing required prop: "rowData"  found in <Root>`.
What may be wrong?
Another question: what for is `required` inside `rowData {}`? Still can't clarify. By the way if I remove `required: true` there is no such error.

[2018-04-12 01:11] ratiw commented on #423
@Tarasovych See [this](https://vuejs.org/v2/guide/components-props.html#Prop-Validation). You should go through [Vue Guide](https://vuejs.org/v2/guide/) first before attempting to work on any Vue component.

[2018-04-12 01:11] #423 closed

[2018-04-12 08:30] Tarasovych commented on #423
@ratiw may I ask when does `rowData` is loaded according to Vue lifecycle?
If I do so
[code]

[2018-04-12 14:48] The-BlackWidow commented on #398
Hi @ratiw,
Have you implemented the new prop yet ?

[2018-04-12 21:55] An-AngryBear opened #424 "Is there a way to see which value is selected in the records per page limit dropdown?"
![image](https://user-images.githubusercontent.com/25972741/38706273-367f76ac-3e72-11e8-85d8-550e9458a5fe.png)

Need to know what is selected here.  In my vue instance.

[2018-04-13 12:42] mervy-sim opened #425 "persistent filters"
Hi! I was wondering, as I couldn't find any information, on whether there currently is a way to store the filters persistently?

For example, i'm on page 7 and have applied a search filter and a custom sort order, I would like to have that stored somewhere persistent so when I come back to the page, those filters still apply.

If such functionality already exists, my apologies.

[2018-04-13 13:41] ratiw commented on #425
@mervy-sim That functionality is not included in Vuetable, but I think you should be able to implement it using `localStorage`.

[2018-04-13 16:14] efrenhz2016 commented on #281
@T0miii would you shared me your complete code for understant, i'm doing same code...

[2018-04-13 21:13] amensic commented on #415
Would be great if you can help us ratiw :)

[2018-04-13 22:49] Tarasovych opened #426 "Is it possible to have separate field for sorting?"
I want to use `&sortBy=foo&orderBy=bar` instead `&sort=foo|bar`. Is is possible with your API?
I found only one way to hardcode: set `:query-params="{}"` and write all query inside `api-url`.

[2018-04-14 01:32] ratiw commented on #415
This depends on whether you entire data record is available inside Vuetable or not (the data array Vuetable retrieved from the API endpoint).

If the whole data is available, you could find the previous/next item in the data array by iterating through `tableData` to match the row identity (maybe `rowData.id` or `rowData.ticket_id`). You should be able to do that via `this.$refs.vuetable.tableData`

[2018-04-14 01:33] ratiw commented on #404
It's already in the next version.

[2018-04-14 01:50] ratiw commented on #426
You could create a function named `getSortParam` in your main Vue instance (the parent of Vuetable).

If present, it will be called by Vuetable with the current `sortOrder` array. It should return query string of the sort parameter that you want.

[code]

[2018-04-14 02:10] ratiw commented on #398
Not yet. Been very busy to get into the code right now.

[2018-04-14 07:27] #404 closed

[2018-04-14 15:34] ratiw commented on #417
It's hard to tell because of the documentation. Everything in the `next` branch is almost ready for beta release, but the documentation hasn't progress as fast as I wish. So, I would recommend you making a fork so that it wouldn't interrupt your work.

[2018-04-14 15:42] ratiw commented on #412
Why not use `:reactive-api-url="true"` instead? See [here](https://ratiw.github.io/vuetable-2/#/Vuetable-Properties?id=-reactive-api-url)

[2018-04-14 16:06] Tarasovych commented on #426
This works for me now
[code]
and
[code]

[2018-04-14 16:07] #426 closed

[2018-04-16 07:04] mervy-sim commented on #425
I'll do that then! Want me to create a pm for it once done?

[2018-04-16 09:13] ratiw commented on #425
@mervy-sim Please do, I'll consider it.

[2018-04-16 18:25] edgarscr opened #427 "Special row's"
Hello, howdy? i wanna know if it's possible add color to selected rows when the Vuetable read the API so example API have **row-color: red** so the row change bg color to red. ? or one method or smth?

[2018-04-17 15:26] ratiw commented on #427
Use `row-class` prop. See [here](https://ratiw.github.io/vuetable-2/#/Vuetable-Properties?id=-row-class)

[2018-04-17 15:33] ratiw commented on #356
@suits-at Please open a new issue and link to this issue instead. I'm more than willing to read any discussion about responsiveness. But due to limited knowledge on this topic, I'm looking forward to more detail explanation and sample code on how you would make HTML table responsive with the CSS framework of your choice. As I see it, this is really CSS framework dependent, but if you could make HT

[2018-04-19 15:07] SoroTrestal opened #428 "Paging not showing or rendering"
Hello all,

I have the following custom component, I have succesfully managed to bind the data and enable sorting, but i have issues with the paging functionality.

My onPaginationData function is being called and there should be data available.
But somehow the paging is not showing up.

What i'm I missing?

[code]

The Rest call function:

[code]
Thank you

Kind regards

[2018-04-20 01:50] ratiw commented on #428
According to the object returned in "projectenService", the `pagination-path` must be `pagination-path="pagination" `.

[2018-04-20 03:09] qamrulhaque commented on #16
@ratiw  this.$parent.refresh() loads page 1. I want to refresh the same page from where I have deleted the row. If I delete a row from page 2 then I want to refresh page 2 and not page 1. How can I achieve this?

[2018-04-20 18:26] SoroTrestal commented on #428
Aaah ok, I missed that.

Thanks for your help and this great component :)

Regards.

[2018-04-24 09:30] ian-pinto-vamaship commented on #356
Create responsive tables by wrapping `<vuetable>` tag in a `<div class="table-responsive">` tag to make the vuetable scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in the table.
[](https://getbootstrap.com/docs/3.3/css/#tables-responsive)

[2018-04-24 13:18] rcarmich commented on #309
What you've got in the code sandbox looks great. You've got an excellent library here!

I can't use it in my project until 2.0 includes this feature published to npm so I'm looking forward to it.

Any rough estimate on timeframe for 2.0?

[2018-04-24 14:01] ratiw commented on #309
@rcarmich If you feel adventurous, you could do `npm install vuetable-2@next` and try it. :)

[2018-04-25 09:42] rribou commented on #388
Can you provide a workaround until the correction is released ?

[2018-04-25 14:48] ratiw commented on #388
@rribou I'm looking for a cleaner way to fix this. In the meantime, you should be able to use `http-fetch` prop to assign your own AJAX function.

Something similar to this:

[code]

[2018-04-26 17:27] rcarmich opened #429 "JSON GET option"
Aside from disabling api mode and using axios directly, is there any way to turn on a method whereby the api-url is used but instead of query parameters, a JSON object is sent? Whether or not it's agreed to be a good standard practice may be debatable but some of us have REST endpoints that do this.

Something like:
[code]

[2018-04-27 00:16] ratiw commented on #429
Use [`http-fetch`](https://ratiw.github.io/vuetable-2/#/Vuetable-Properties?id=-http-fetch-v17) prop.

[2018-04-27 07:02] kedcomsci opened #430 "How I can props Data to other component ?"
`<button class="btn btn-sm" @click="editRow(props.rowData, props.rowIndex)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>`

![screen shot 2561-04-27 at 13 59 36](https://user-images.githubusercontent.com/23306577/39349011-93d97dcc-4a23-11e8-8cc5-3b5508a1e2b7.png)

I want to props data to new component.

[2018-04-27 09:05] #430 closed

[2018-04-29 06:04] kedcomsci commented on #365
@sherlyseptiani try you use this in main.js

[code]
and [see this code for use your api](https://codesandbox.io/s/239v6w2vkp)

[2018-04-30 02:33] hgminh95 opened #431 "Feature Request: Allow callback in .reload() function"
Currently, [`.reload()`](https://ratiw.github.io/vuetable-2/#/Vuetable-Methods?id=-reload) method does not accept any parameters. I think it would be nice to allow user to provide custom callback so they can know when data is loaded (or failed to load).

**Use case:**

polling data from server periodically

[code]

Other ways to do that:

- use `setInterval`: setInterval does not wait for previous

[2018-04-30 05:25] ratiw commented on #431
@hgminh95 Can you explain a bit more in your case why you would need to know the origin of the event?

[2018-04-30 09:25] hgminh95 commented on #431
@ratiw e.g. If I listen to the `vuetable:loaded` like this

[code]

There are 2 sources of `loaded` event: one is after component is mounted, and another is via `onBtnClicked` method. I want to distinguish between these 2 so if a `loaded` is triggered by `onBtnClicked` function, I wont try to `reload` again in 5 seconds.

Listening to these events are kind of adding callback to every call which mi

[2018-04-30 09:37] ratiw commented on #431
@hgminh95 Why do you have to pull the data manually every 5 seconds? Why not using something like [Pusher](https://pusher.com) instead?

[2018-04-30 10:50] hgminh95 commented on #431
@ratiw Thanks for suggestion. I cannot get into details what I am trying to achieve. However, I think polling is still a valid solution since it is pretty simple to implement and in some cases, you cannot push this logic to server-side (e.g. using third-party server, ...)

[2018-05-01 03:33] ratiw commented on #431
@hgminh95 Adding a callback to this is not actually a straight forward thing to do. The `reload` actually will call `loadData` function and delegate its work to a Promise based AJAX. The `reload` function has no way to know when the Promise will be resolved (either success or failed). The only reliable way at the moment is by listening to `vuetable:loaded` or `vuetable:load-error` events.

To supp

[2018-05-01 13:44] edgarscr commented on #415
@ratiw  hi good morning, howdy? i have collected all data by **API** and i have added a track by **ticket_id** but and if i press click to open modal i display the ticket_id on console but i dont know how can i extract the data but track_id.

im using this:

onRowDBLClicked (data, field, event) {
this.clickedTicket = data
console.log(data.ticket_id);
this.$refs.viewModal.show()
}

so i need only a

[2018-05-01 13:44] #382 closed

[2018-05-01 13:45] #427 closed

[2018-05-01 13:46] #380 closed

[2018-05-01 13:46] #385 closed

[2018-05-01 13:46] #378 closed

[2018-05-01 13:53] edgarscr opened #432 "Performancing API"
Hi, you know i have my api but i think its not really good for ur system, so can u help me or u have a guide or code or smth to make a better api ?

[2018-05-01 14:32] rcarmich commented on #429
That works great for me, thank you.

[2018-05-01 14:32] #429 closed

[2018-05-02 04:40] ratiw commented on #432
Please do some research on Internet. There are plenty of resources to learn. See [this repo](https://github.com/ratiw/vuetable-sample-api-endpoint) for a simple example.

[2018-05-02 18:23] claudioromanosp opened #433 "Translate Text label"
I want to translate the text into Spanish but it is not working.[
![page 4](https://user-images.githubusercontent.com/7386266/39541601-9d12899a-4e1c-11e8-9881-8d248a467a86.png)
](url)

version:
vue-tables-2= 1.3.41

[2018-05-03 03:03] ratiw commented on #433
@claudioromano13 Use [`info-template`](https://ratiw.github.io/vuetable-2/#/VuetablePaginationInfoMixin?id=-info-template) prop of VuetablePagination, you can use any text you prefer.
[code]

[2018-05-03 08:28] rribou commented on #298
Is there any solution for this?

[2018-05-03 17:17] edgarscr opened #434 "Get all row data by track-id"
Is it possible to get all the information of a row from another row? example I'm in row A and I press a button to get the next id: my current Track-id = 1 + 1. which would get all the information by track-id = 2

[2018-05-04 08:43] navrt007 opened #435 "Latest version grid design effected"
After installing the newest version it is breaking the look for the grid and we were facing issue with the scroll which you have fixed .Below is the code and can you helep ?
The code
<vuetable ref="vuetable"
                  :api-mode="false"
                  :data="extraTextInfo.extraTexts" data-path=""
                  :fields="fields" :css="css.table">
            <template slot="extraTextTi

[2018-05-04 09:26] ratiw commented on #435
@navrt007 from `next` branch or `develop` branch?

[2018-05-04 09:31] ratiw commented on #434
@edgarscr It is possible, but not recommend. All the data should be available in `tableData` variable. You should be able to loop through and find a specific id and get the array index. Then, it is a matter of getting the data from the previous or next array index.

[2018-05-04 10:02] carmilso opened #436 "page field is not being well populated when using a filter"
When changing the page over the vuetable-pagination the page query that is sent to the server is well populated.

But, if you are in a concrete page different from the first one (e.g. the number 2) and you try to apply a filter, then the page query that is sent is always 1: { sort: '', page: '1', per_page: '5', filter: '9' }.

Even so, the per_page query is well populated.

I am executing the code

[2018-05-04 11:43] ratiw commented on #436
@carmilso Can you set up a jsfiddle or codepen or codesandbox to demonstarte this?

[2018-05-04 11:50] carmilso commented on #436
It doesn't matter. I just discovered it is not a bug but a normal behavior. The moment you press the **Go** button to apply the filter, then this filter is applied to all the data, so the page returns to the first one. I mean, the page turns to 1 always and it doesn't remember the page you were in.

Even so, it would be a great feature if we could remember the current page we are in.

[2018-05-04 12:42] navrt007 commented on #435
from next branch

[2018-05-04 13:57] ratiw commented on #435
@navrt007 In the `next` version, you need to set `width` option for each column in the fields definition. Also, you no longer need to prepend `__slot:` to the slot field, it is now auto-map to the scoped slot you defined inside `<vuetable>`.

[2018-05-04 14:06] ratiw commented on #436
@carmilso The reason is that when the filter is applied or cleared, the number of records returned are likely to be different. So, maintaining the same page number does not make sense as it is likely to be incorrect.

[2018-05-04 17:30] #424 closed

[2018-05-04 23:50] egordon721 opened #437 "Using CDN - Pagination not working"
I am trying to get the sample code from the tutorial to work, the data displays on the grid, BUT, the pager never shows up.  I have included my code below.  Is there something I am missing?

<div id="table-wrapper" class="ui container">
        <h2><strong>&lt;Vuetable-2&gt;</strong> with Bootstrap 3</h2>
        <vuetable ref="vuetable"
                  api-url="https://vuetable.ratiw.net/api/us

[2018-05-06 16:46] suits-at opened #438 "Responsive tables with detail-rows"
As mentioned in #356 I would like to use vuetable-2, but I also need responsiveness. In my opinion the approach from the DataTables extension "responsive" gives the best user experience possible. ([Demo](https://datatables.net/extensions/responsive/examples/column-control/auto.html)) Only the data which fits on the screen is shown, everything als automatically gets hidden inside a detail-row (depe

[2018-05-06 16:47] suits-at commented on #356
Thanks @ian-pinto-vamaship for the hint, but this only works with bootstrap, due to "table-responsive" is a bootstrap specific class. Besides of this, I dont like this solution. I have therefore opened a new issue (#438) where I try to descripe, which solution I think would be the best.

[2018-05-07 01:41] Georgeek commented on #438
it would be awesome!

[2018-05-07 08:36] carmilso commented on #436
I understand... Anyway it is something easy to be managed from the server. I simply filter the data and then calculate the number of fields per page based on the current length of the data. So it is the same to apply a filter or not in this case

[2018-05-07 13:16] rcarmich opened #439 "cell-clicked not firing for __handle"
I'm using column '__handle' to display an icon and want to essentially activate ```this.$refs.vuetable.toggleDetailRow``` when the __handle field is clicked for a row. However, even though vuetable:row-clicked fires when clicking on the __handle field, I can't get vuetable::cell-clicked to fire.

Possibly similar to issue #327 .

[2018-05-07 19:01] jpldev opened #440 "Can I Filter many columns simultaneously?"
Can I Filter many columns simultaneously?

So for example add two filter-bar,

for example I have a table with clients, and i want to filter NAME: John, AGE: 20

[2018-05-07 21:07] AngeloAnolin commented on #348
@ratiw - the example you posted [here ](https://codesandbox.io/s/239v6w2vkp)is throwing an error about some mixin.,

Could not find module in path: 'vuetable-2/src/components/VuetablePaginationMixin'

[2018-05-08 06:40] ratiw commented on #10
@praveenkarmanya That was actually for another library, not for Vuetable-2.

[2018-05-08 07:51] ratiw commented on #440
@jpldev This depends on your API backend. If it supports it, Vuetable should be able to be configure to send those filters to the backend for processing. Vuetable is just a presentation layer component, it doesn't do any processing itself unless you turn on Data mode, but you still have to write code to handle those processing yourself.

[2018-05-08 07:54] Georgeek commented on #438
I've started something like this, but it hides all columns and doesnt recalculate table width for some reason:
[code]

[2018-05-08 12:50] #440 closed

[2018-05-08 13:57] ratiw commented on #438
DataTables has more comprehensive spec. It might be doable in v2.1 where the support for Row component has been implemented (the same idea as an extension in DataTables).

I think this should not be a standard feature as not everybody will want to use it. Please do not expect it to be implemented so soon as I can only do so much with the spare time I have.

[2018-05-09 15:16] KunalGanatra opened #441 "Grid scrolling not working with vuetable-2@next"
Hi,

I was trying to apply scroll bar to one of our grid however taking the latest version of the grid broke the UI. I have added width in columns & defined the table height as well.

Below is my code:-
Vue file:
 <vuetable ref="vuetableAlerts"
                          :api-mode="false"
                          :data="comments"
                          track-by="alertNumber"

[2018-05-10 08:21] mix359 opened #442 "Responsive table using bootstrap"
Hi to all,
I've started working with the next branch and I've seen that there are some issues in those days about some way to make the tables responsive  #356 , so I want to share my point of view of that argument, hoping that could help.
I'm trying to apply the responsive class bootstrap use, that need some css properties a little bit different from the one that is used now, and so it doesn't wor

[2018-05-10 09:53] ratiw commented on #442
@mix359 Thank you very much for your input.

This is also one of my concern in going all in with fixed header. So, I decided that I would ask for opinion on this when I release the "v2.0 beta" to gather some thought before actually push it to the master branch. Currently, I'm trying my best to finish the documentation for reference.

However, you've given a very detail explanation already and I th

[2018-05-10 14:56] KunalGanatra commented on #441
Hi, remove the _slot did fix the extra column but it still shows the extra space between the header & the table body. Also, scroll is not working even  after setting table height to 150 px,

Below is the current state after removing _slot.

![image](https://user-images.githubusercontent.com/24524543/39876275-5beb0df0-5490-11e8-8d3d-06195f91474a.png)

Can you please help .

[2018-05-10 15:30] hjJunior opened #443 "Authorization header"
How can I add a token or something else to header before call vuetable call to sever?

I tried to import and customize axios in main.js

[code]
Works for my custom requests on another component, but when its called from vuetable doesn't

**My requests**
![image](https://user-images.githubusercontent.com/10780132/39878032-c2779356-544d-11e8-916d-81dc8e5d3b41.png)

**vuetable requests**

![image](ht

[2018-05-10 21:03] claudioromano13 commented on #433
Thank you ! I updated the latest version and it works very well
Vai Corinthians !

[2018-05-11 01:54] ratiw commented on #443
Please try searching old issues about this first.

[2018-05-11 02:06] ratiw commented on #441
The gap between header and body can be removed by using css to set the padding or margin to 0.

See the following examples and figure out what's wrong:
[this one](https://codesandbox.io/s/qx29v9o9yj)
[this one](https://codesandbox.io/s/3y663mw22q)
and, [this one](https://codesandbox.io/s/m7xqyz2n18)

[2018-05-11 04:06] ratiw commented on #272
In the next v2.0, local registration would also work.

[2018-05-11 09:56] suits-at commented on #438
@Georgeek I had a look at your code and found a problem. You are looping over all elements, and set every field to visible = false. Your condition `if (dataTableWidth < browserWidth) return` never comes true, if you change the viewport just once and therefore the dataTableWidth does no change during your loop. Because of that, all items were set to `visible = false` at once.
Another way would be t

[2018-05-11 14:45] zaqpiotr commented on #363
Hello @ratiw

slot is perfect
[code]

[2018-05-11 14:45] #363 closed

[2018-05-14 06:26] KunalGanatra commented on #441
Thanks. I agree that we can remove the gap between the header & body using css. However i am looking for a solution where i need fixed header with a scroll.
I believe vuetable-2 provides that & the way to achieve is fixed height & column width. Can you share me an example where you have fixed headers with scrolling in the grid.

[2018-05-14 06:40] ratiw commented on #441
Try [this one](https://codesandbox.io/s/wq540wrrnw).

It is still work-in-progress, but should give you an idea.

[2018-05-14 13:36] KunalGanatra commented on #441
Thanks.Just to check the only thing related to scrolling should be the column width  & height. You havent done anything specific other than that.
Also, WIP means its available in vuetable-2@next correct?

[2018-05-14 14:56] rribou commented on #378
You can eventually use a workaround like this:
[code]

[2018-05-14 15:10] KunalGanatra commented on #441
Hey, It got resolved. The spacing was due to a theme being applied & the scroll started working too. Thanks for all the help! You have been amazing with your quick replies :)

[2018-05-15 07:37] Georgeek opened #445 "component change icon on every page in same row"
Hello :)
In my vuetable every row has two events:
1) if user click on a row it will fetch data from server and open in a new tab detail information
2) (this one is problem) if user click on a button in vuetable (svg icon "plus" button) it will toggle detail row information below AND change an icon to "minus".
2.1) if user change page the same "minus" icon will be displayed (and toggleDetail is clo

[2018-05-15 08:42] Georgeek commented on #438
@suits-at thank you for reply. It didnt work because at some circumstances it fires only once, despite the 'addEventListener' event. I've tried recursion as well and store col counter...

I've solved in another way (which i dont like and its temporary)

// methods
[code]
Didnt mention mounted() where i add 'addEventListener' and resize initially

[2018-05-15 13:12] ratiw commented on #445
Use `isVisibleDetailRow` function to check if the given detail row is already visible and change your icon appropriately. The demo that comes with the repo has already shown how this is done.

See [here](https://github.com/ratiw/vuetable-2/blob/master/src/main.js#L349-L356)

To run the demo, fork the repo and `npm install && npm run dev`

[2018-05-16 00:54] Georgeek commented on #445
Thank you so much! It helps!

[2018-05-16 00:54] #445 closed

[2018-05-16 13:46] #434 closed

[2018-05-16 13:46] #432 closed

[2018-05-16 13:46] edgarscr commented on #415
@ratiw please?

[2018-05-17 22:52] Aaallan opened #447 "Scroll to the top when clicking another menu in the document"
Hi

Just want to say your api documentation is awesome. And if it can scroll to the top when clicking a new menu item, that will be even better.

[2018-05-18 09:00] chaymag opened #448 "change row data"
I want to change api-url data , when the datatable is charged I want data on one column to be kinda hidden instead of showing the "real" data I want to show something else , when an icon (another column) is clicked the "real /original "data on the corresponding row appears replacing the "fake" data. How can I do that ?

[2018-05-18 10:58] ratiw commented on #442
@mix359 Many thanks for the PR. Really appreciate it.

I'm still can't find the time to check it in detail. I need to spend time checking it against other examples that use Semantic UI first.

For "watch fields", I think it might need another prop, e.g.`reactive-fields`, to make it explicit as it changes behavior from the previous version and it might caught people off-guard.

Based on what you've

[2018-05-18 11:01] ratiw commented on #448
Have you go through [the tutorial](https://github.com/ratiw/vuetable-2-tutorial/wiki) yet?

[2018-05-18 12:35] ratiw commented on #415
@edgarscr I'm sorry, I don't know how you implement your modal. It's impossible for me to know how it might or might not work. If you could setup an example on codepen, jsfiddle, or codesandbox, I might be able to look into it.

Anyway, why don't you create a function in your modal, e.g. `setData()` where you can pass the data into it. If you can call `this.$refs.viewModal.show()`, why not do some

[2018-05-19 01:10] hanxue opened #449 "Programatically generate template slots: Property or method "props" is not defined on the instance but referenced during render"
I currently use `__slot` templates this way:

[code]

with `fields` set to a dynamically generated json

[code]

Full JSON available at https://api.myjson.com/bins/mt5vu

When I try to dynamically loop through the number of years and generate the slot template

[code]

I see this error message:

[code]

From the generated sources:

[code]

All my code for generating the table header and data is in

[2018-05-19 01:24] #364 closed, assigned to nobody

[2018-05-19 07:43] ratiw commented on #449
@hanxue You do not have `slot-scope="props"` defined.

You also define dynamic slot like `year-XX`, but the field definition is defined as `year[XX]`. They are never gonna match. This is the next error you will encounter.

You also do not provide the sample data record, so I'm not sure if this `:v-model="'props.rowData.year[' + (y+1) + ']'"` will work.

[2018-05-19 15:57] ratiw commented on #449
@hanxue See [this CodeSandbox](https://codesandbox.io/s/ym4q1w5zj9)

If I could, I would reformat your JSON data to be like this, so it would be more organized and easier to work with.
[code]

What I did instead is using Vuetable's [data transformation function](https://ratiw.github.io/vuetable-2/#/Data-Transformation) to transform your data into the above format.

Then the dynamic slot can be eas

[2018-05-20 15:43] navrt007 commented on #435
It is resolved thanks for the help

[2018-05-20 15:43] #435 closed

[2018-05-21 04:03] hanxue commented on #449
Many thanks for your tip for making the `years` value as an array. I could not use transform because I load the data from an array instead of an API. I was having weird problems trying to access the `years` properties when I realized that one of the row do not have `years` property, because it is used for only display

![image](https://user-images.githubusercontent.com/760008/40289465-05877972-5ce

[2018-05-21 04:03] #449 closed

[2018-05-21 10:09] monishnarwani commented on #251
@yusupprog @ratiw I'm also facing this issue. Can you please tell me how you solved this. Thanks.

[2018-05-22 06:47] sherlyseptiani opened #450 "Vuetable overflowing its container"
If I have a quite large dynamic data, the vuetable will exceeds the container (the red one on pic).
How to prevent this from happening? Thanks
![screenshot from 2018-05-22 13-43-41](https://user-images.githubusercontent.com/21187404/40346324-9ea36770-5dc6-11e8-9304-c8e7098d77e0.png)

[2018-05-22 09:04] Georgeek commented on #438
rewrote handleResize and deleted showHideColumn. Almost work as i wanted :)
[code]

[2018-05-22 09:35] Georgeek commented on #450
hi! You can solve it by using css attributes like
`word-break: break-all;`
also look at css `word-wrap` and `white-space`

more info => [css-tricks](https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/)

[2018-05-22 09:43] #450 closed

[2018-05-22 14:18] Tarasovych commented on #423
I'm ready to help with documentation. If your package uses latest Vue features, it might be useful to write about that.

[2018-05-22 21:43] Tarasovych opened #453 "sortField with __slot"
I have such field:
[code]
Despite I've specified `sortField`, while sorting request is coming out there is `sort=__slot:title` instead `sort=title`. What am I doing wrong?
My `getSortParam()`:
[code]

[2018-05-23 12:16] Tarasovych commented on #453
Fix:
[code]

[2018-05-23 12:16] #453 closed

[2018-05-23 16:27] martixy opened #454 "Computed column?"
Is it possible to have a computed column?

I.e. what's already possible via the `callback` option, but with access to the rest of the data?

In my case I have an API that delivers data in "unassembled" format, containing a couple data arrays and what is essentially a join column that says Entry X = index Y in this array and index Z in that array.

Edit:
After a bit of research, it is, mostly possi

[2018-05-23 17:12] martixy opened #455 "Data transform / slot interaction"
I just ran into an issue with the Data transformation option.

It requires me to define the `transform` function in vuetable's parent.

But what if the `vuetable` component is placed inside a slot? ESPECIALLY if that slot is provided by another third-party component.

You can see the issue, right? You lose access to the Data transform feature, because it is impossible to define it where vuetable e

[2018-05-24 02:00] ratiw commented on #455
In v2.0, Data transformation function must be assigned to the `transform` prop because of this.

[2018-05-24 02:07] ratiw commented on #454
@martixy In v2.0, you can use field definition object for that as it will no longer filter out other option. That means you can define additional parameter inside field definition object as you like and you can access it via `field` object from both `__component` (which is now superseded by Field Component) and `__slot` (which is superseded by Field Slot). The underlying implementation has changed

[2018-05-24 12:46] ratiw commented on #423
Thanks @Tarasovych. Currently, I'm trying to finish the first draft v2.0-beta documentation. Once it is up, it will need your help to improve.

[2018-05-24 16:51] ZarBoXa opened #456 "orderBy Event when apiMode is false"
Hello @ratiw

Now I set the api-mode to false and I do my own pagination stuff, can you plz emit an event when orderBy function is called ?
`@vuetable:order-by="onOrderByClicked"`

and plz make sure to pass the field and event
`this.$emit('order-by', field, event, this.sortOrder)`

Thanks

[2018-05-24 19:51] ratiw commented on #456
@ZarBoXa  Use the `data-manager` prop, see example [here](https://codepen.io/ratiw/project/editor/DzmJnA)

[2018-05-25 06:11] ratiw commented on #442
@mix359 Just published v2.0.0-alpha.22 on npm. Can you please help checking if any other problem in your work?

[2018-05-25 19:57] jameszh opened #457 "transform method doesn't get called"
Hi,
Based this page: https://ratiw.github.io/vuetable-2/#/Data-Transformation, I tried to setup transform method, just do a console.log. I used your tutorial lesson-2, put the method in main.js (see below), somehow the method never got called. Anything I missed.

`new Vue({
  el: '#app',
  template: '<App/>',
  components: { App },
  data: {

  },
  methods: {
    transform (data) {
      var tran

[2018-05-26 11:21] jameszh commented on #457
@ratiw, here is vuetable, same as in tutorial

`<vuetable ref="vuetable"
    api-url="https://vuetable.ratiw.net/api/users"
    :fields="['name', 'email', 'birthdate', 'address.line1', 'address.line2', 'address.zipcode']"

`

[2018-05-26 15:05] ratiw commented on #457
@jameszh See [here](https://codesandbox.io/s/4z2oyr53xw) and [here](https://codesandbox.io/s/ym4q1w5zj9)

[2018-05-27 03:09] kicker10BOG opened #460 "Allow DESC as default direction when sorting"
As it is, whenever a table is ordered by a different column, it always defaults to ASC. This is not ideal in many situations, so it would be nice to have the option of setting that.

It looks lines 902 could be changed to field.sortDir or something like that. I'd have to dig around more to know for sure it would work though.

It would be great to have this feature added.

[2018-05-27 12:43] martixy commented on #454
And where is this v2.0?
Tags currently reach only till v1.7.5.

[2018-05-27 12:44] gabyrusu commented on #321
I think the best solution would be to wrap the checkbox in a label tag, we would be able to customize it from CSS then. Using a component or slot requires custom functionality and I'm really fine with the existing one :)

[2018-05-28 04:29] Georgeek commented on #438
aslo need to take into account that resize works only on browser width on pc. To make it works on tablet and phone we need to check display orientation and screen width
[code]

[code]

handleOrientation is almost the same as handleResize (need to refactor)
[code]

[2018-05-28 05:37] kicker10BOG commented on #460
Well, 902 did not need changing, but a couple other lines did. See GH-461 for details.

[2018-05-28 05:45] kicker10BOG commented on #460
I didn't consider multisort originall, but I added support for it too, which did require changing the line I referenced, which is 904 now in my pull request.

[2018-05-28 08:43] koapeadu commented on #398
Same problem here working with a Spring Data Rest API.
I tried @heyddi's solution but I had to make some more changes. So I submitted PR #458  with the additions.
Then, a more concise solution occurred to me: just subtracting 1 from the currentPage while building the request query params. See PR #459

[2018-05-28 11:14] pierreDevPhp opened #463 "Can i trigger sort order from a button?"

[2018-05-28 17:31] AlejandroMut opened #464 "Callback in vuetable inside another component"
Hi,

I have a vuetable component inside another generic container component that I am using throughout my app, and I need to use a callback. How can I accomplish that?

This is roughly the case:

[code]
In this scenario, the callback does not work.

Thanks!

[2018-05-29 10:57] carmilso opened #465 "Fields are not reloaded if they change"
I am trying to modify the field attribute the vue-table is binded to once it has been loaded. So, at first, vue-table loads the field using: `:fields="fields"`. At first, **fields** is an empty array, but I populate it later... Anyway the columns are not updated, so the vue-table loads the field attribute and then it doesn't listen for more changes

[2018-05-30 07:49] mix359 commented on #442
Sorry @ratiw, yes I'm working with that version and it all seam to work for me.
I'll let you know in the next day if there's something that give me problem, and when I have a little bit of time, I would dig into the css story, to see if I can think something useful to suggest ;)
Thanks
Cheers
Mix

[2018-05-30 12:17] gritsenko-konstantin opened #466 "vuetable-2 allows XSS"
Data passed to vuetable-2 output not encoded.
This allows XSS on any data field.

[2018-05-30 12:31] AnikaErceg commented on #466
What's causing this is the use of [v-html](https://vuejs.org/v2/guide/syntax.html#Raw-HTML).

According to @ratiw:

You could fork the repository and do find/replace "v-html" with "v-text". It should not interfere with anything else other than with aforementioned functionality.

However, I haven't tested this yet.

[2018-05-30 14:53] Geowan opened #467 "Setting the total number of items on a pagination"
I have a continously growing record and i would like to set the number of pagination items to show

![pagination](https://user-images.githubusercontent.com/20105002/40728121-11e79384-6432-11e8-974d-6f6fd2b669a0.png)

THat is as per the image above i would like only to show 1,2,3 and then when a user navigates to next 1 is hidden and shows 2,3,4.....
Sorry i dont know how to explain this but if my

[2018-05-30 15:17] gritsenko-konstantin commented on #466
may be it would be a good idea to add special cell type?

[2018-05-31 13:08] ratiw commented on #463
@pierreDevPhp It should be possible. But you didn't provide enough info, so I don't know how to use Vuetable.

[2018-05-31 13:11] ratiw commented on #464
@AlejandroMut Try this
[code]

[2018-05-31 13:14] ratiw commented on #465
@carmilso The `fields` prop will be parsed only once during the initialization of Vuetable. So, if you change anything in `fields` prop later on, you will have to call [`normalizeFields`](https://ratiw.github.io/vuetable-2/#/Vuetable-Methods?id=-normalizefields) function to parse it again.

[2018-05-31 13:15] ratiw commented on #467
@Geowan Use [`on-each-side`](https://ratiw.github.io/vuetable-2/#/VuetablePaginationMixin?id=-on-each-side) prop instead.
[code]

[2018-05-31 13:28] ratiw commented on #466
I'm really not a security expert here, so my knowledge on this issue is quite limited.

If it is embedded inside the component, I don't really know if XSS is still possible.

I think I can come up with a solution to get rid of all `v-html` inside Vuetable and its related components, but this will be a trade-off for convenience.

In v2.0 of Vuetable, I think I can provide a field component that wil

[2018-05-31 14:32] carmilso commented on #465
Great. Thanks!

[2018-05-31 14:32] #465 closed

[2018-05-31 15:10] pierrebraun commented on #463
i mean can i trigger sort columns from buttons click?

[2018-06-01 06:16] ratiw commented on #463
I want more detail on how do you picture to do that? What would your desired UI looks like?

[2018-06-01 07:42] pierrebraun commented on #463
something like this :
![vuetable-2-laravel-5 4-mix](https://user-images.githubusercontent.com/32512079/40828140-102d26e0-6580-11e8-82a8-a0a78420e243.png)

[2018-06-01 12:33] gritsenko-konstantin commented on #466
I think v2 has good functionality, and it is good.
So as suggestion we can add custom SpecialField which will output escaped data only through v-text.
this will fix XSS issues with auto output data from database.

what do you think?

[2018-06-01 17:24] edgarscr opened #468 "Getting extra value"
Hello howdy? i have on my API the Start and End of post  ID like i show u on image.

![image](https://user-images.githubusercontent.com/33737821/40854244-d3869c3e-659e-11e8-9d7f-43d6659cc59d.png)

and im trying to display with vuetable like u see on the image. but he dont get value,

![image](https://user-images.githubusercontent.com/33737821/40854285-e8755e8c-659e-11e8-9568-4573d1eb952d.png)

can

[2018-06-02 01:53] ratiw commented on #468
Looks like it is part of pagination metadata. Unfortunately, what you show me is not enough to identify what's wrong. Any error in the console? More complete code?

[2018-06-02 17:57] edgarscr commented on #468
I wanna pick up last and first row on current data example if i display 20 i need to get ID of 0 and 20.

i search on ur Documents but i dont found that.

[2018-06-03 08:41] ratiw commented on #468
@edgarscr I think you're trying to retrieve the data in the wrong place.

`this.from` and `this.to` mean you are trying to refer to the data that you've declared in the `data` section of the component, which do not exist.

`from` and `to` are in the pagination meta inside the returned data object from the API endpoint. In Vuetable, the data array is stored in the `tableData` variable, and the pagi

[2018-06-03 14:46] edgarscr commented on #468
yes thanks u that helped me.

[2018-06-03 15:44] edgarscr commented on #468
Can i add a field specific id? example

![image](https://user-images.githubusercontent.com/33737821/40888318-7e7fe64c-6723-11e8-8303-afb9c41dfbe1.png)

[2018-06-03 15:52] ratiw commented on #468
@edgarscr I'm sorry I really don't know what you wanted to do. You are also mixing `jquery` with Vue. This is not the way to do it. Please go through [Vue Guide](https://vuejs.org/v2/guide/) to learn the basic first. Without this basic understanding, it's impossible to guide you to this.

[2018-06-03 16:02] edgarscr commented on #468
I made like i told u on other tickets. i make Vue + Vuetable 2 + Vuetable Modals with Modal next and previous  with ur Vuetable 2 information its working well but when i open a modal i choose and add a class in the row like u see here

![image](https://user-images.githubusercontent.com/33737821/40888468-889723aa-6725-11e8-9302-f38c843b05db.png)

but now when i change with the modal i want to chang

[2018-06-03 17:49] edgarscr commented on #468
DONE
[code]

[2018-06-03 17:49] #468 closed

[2018-06-06 09:27] lrembacz opened #469 "There is a problem with initial-page props and gotoPage method"
Hi, I want to bring back the state from my storage after refresh the page.
So I actually make the vueTable initOnStart prop to false and then after I get all my storage information I just want to loadData().

Ive noticed the bug.
When Vuetable is initialized its initalPage state is taken from props and passed to data directly with:
[code]
So after we want to change this prop or just change initial

[2018-06-06 11:44] adavie1 opened #470 "How to call hideDetailRow()?"
I've got a situation where inside the detail row, I need to close it.

Tried getting a reference to the table: this.`$refs.vuetable.hideDetailRow(id)` but _I get method not found_, or Javascript's version of that.

Searched the docs, but can't find an example of how to close the detail row programmatically. If anyone's done that, it would help a great deal.

[2018-06-06 11:57] adavie1 commented on #470
Silly me. `this.$parent.hideDetailRow(id)` does the job!

[2018-06-06 11:57] #470 closed

[2018-06-06 14:04] ratiw commented on #469
@lrembacz I guess you're using Data mode (`:api-mode="false"`) together with `VuetablePagination` component, am I right?

[2018-06-06 14:21] lrembacz commented on #469
@ratiw No I am actually using :api-mode="true".

Check my JSFiddle example with same action. Passing props as data, its not reactive.

https://jsfiddle.net/4x5t7Lnw/

You would need watcher actually.

https://jsfiddle.net/4x5t7Lnw/2/

[2018-06-07 23:03] ZarBoXa commented on #456
Thanks @ratiw this is really helpful!

[2018-06-07 23:04] ZarBoXa commented on #456
Thanks @ratiw this is really helpful!

[2018-06-07 23:04] #456 closed

[2018-06-07 23:14] ZarBoXa opened #471 "reorder columns"
is there any method for drag columns to reorder ?

[2018-06-08 02:37] ratiw commented on #469
@lrembacz I see. Adding the watcher is easy enough. However, this may not be sufficient as others might require other props as well and this will lead to adding watcher to every prop.

How about if Vuetable provides a hook function, for example `loadState`, that will be called when it finishes initializing (but before starting loading data). This function will receive an object called `state` cont

[2018-06-08 02:41] ratiw commented on #471
Nope. Sorry.

[2018-06-08 03:51] ZarBoXa commented on #471
Yeh no, Thanks

[2018-06-08 03:51] #471 closed

[2018-06-08 06:57] lrembacz commented on #469
@ratiw Yes, watcher was just example but it's not good enough in this solution.

The problem about initialPage is even much deeper. This problem exists for every data/prop used once.
Unfortunately I don't know the pattern for this solution and can't see any on documentation page.
Initial page prop is actually used once so I  think we don't need to change it reactively.

For now I just directly set

[2018-06-14 01:48] adavie1 opened #472 "Stale props for slot when column sorted"
Hi,
I've been playing with slots recently. They are great. However, I just noticed something that I believe is a bug.

I'm actually wrapping vue-table, but the gist of the code is as follows (the slot definition is from my code):

[code]
Under normal circumstances the data in props gets based correctly to the `<renewal-action>` component. However, when I sort any column, the renewal component hold

[2018-06-14 05:00] ratiw commented on #472
@adavie1 I honestly don't know. But if you could create a sample project demonstrating this issue in jsfiddle, codepen, or codesandbox, I'll be more than willing to have a look.

[2018-06-14 15:06] adavie1 commented on #472
Working on the jsfiddle. In the meantime, what I get is this:
![image](https://user-images.githubusercontent.com/3030402/41420407-e3eac3a6-7026-11e8-9b77-7e472bcee367.png)

The data in the `renewal-action` component is current relative to the data, however, when I open it, I get this:
![image](https://user-images.githubusercontent.com/3030402/41420489-214125c4-7027-11e8-9e1c-e7e946b69e20.png)

The

[2018-06-14 15:17] adavie1 commented on #472
Although I've not yet figured out how to use a component in jsfiddle, here's the work in [progress one](http://jsfiddle.net/bxhw9f71/14/).

Not sure if this is the correct approach, but I've got a workaround using watch:
[code]

The init method is also called in `create()`.

[2018-06-15 16:13] bicienzu opened #473 "Resizable columns"
I'm considering using this component. But first I wanted to understand if in the future you're going to add the ability to resize columns by drag and drop.
Thanks

[2018-06-16 00:44] ratiw commented on #473
@bicienzu That's beyond my need and my ability. So, unless someone will work on it, it's not going to happen, sorry.

[2018-06-18 00:09] e-abdelbasset commented on #473
you can use [colresizable](https://github.com/alvaro-prieto/colResizable) :

`npm install colresizable --save`

[code]

works fine with bootstrap tables

[2018-06-18 00:43] e-abdelbasset commented on #454
well there is always a simple solution

let's say this is what you get from the server through your API :
[code]
you can customize the name column to look like something like this :

[code]

[2018-06-18 01:00] e-abdelbasset commented on #443
first create a global instance of axios to use it in your project :
[code]
then use the configs of the same instance (`$http`) in your vuetable :
[code]

[2018-06-18 09:34] i-ked-ii opened #474 "How to search with api-mode = false"
[code]
How I can do with [example](https://codepen.io/ratiw/project/editor/DzmJnA)

[2018-06-18 10:30] TheFrankman opened #475 "Changed made to __component in next branch ?"
Hello There,

I'm trying to upgrade to the 'next' branch and some functionality that was working fine before has now broken. Have you made changes to the way in which you load a custom component as a field ?

CustomActions.vue
[code]

StorageFields.js (imported into VueTable.vue)
[code]

VueTable.vue
[code]

I now get the error :

[code]

Essentially it's exactly the same as your tutorial : https:

[2018-06-18 10:33] ratiw commented on #474
@kedcomsci Basically in Data mode (`:api-mode="false"`), you should already have the data from the data source in your code somewhere, you just supply it to Vuetable to present your data.

So, if you want to search/filter anything, you'll have to look into that data. If you want to filter the data, you can use any array function to filter those data before supplying it to Vuetable.

For example, y

[2018-06-18 10:42] ratiw commented on #475
@TheFrankman There are some changes in v2.0 but it should be easy to fixed. Please see [this](https://upbeat-montalcini-9fc063.netlify.com/guide/special-field.html) and [this](https://upbeat-montalcini-9fc063.netlify.com/guide/creating-field-component.html) for more detail explanation.

In your case, I would recommended switching to use Field Slot as it should minimally affect your code. As for Fi

[2018-06-18 10:54] TheFrankman commented on #475
Hello @ratiw

Thanks so much for the quick response. I've already been through both those links but I'm not getting any closer.

I can't really use a slot because the component contains a lot of logic, i.e. a button with a drop down list of actions that trigger certain events etc.

I've modified by component to use the `th` and `td`. Have i got the naming muddled up some how, as it doesn't seem to

[2018-06-18 10:59] TheFrankman commented on #475
In my StorageTableFields.js i've changed to this :

[code]

In my CustomActions.Vue

I have :

[code]

[code]

[2018-06-18 11:07] TheFrankman commented on #475
Hello @ratiw - Ignore the above.

I have got somewhere now. I have a new error that's just missing required prop "rowData" just need to figure out how to actually pass the rowData prop to the component. Any idea how this is achieved ?

[2018-06-18 11:30] ratiw commented on #475
@TheFrankman Did you use the `VuetableFieldMixin`? Just import and register it in the `mixins` section of the component. See the [example here](https://codesandbox.io/s/7zkrn4lvz0?module=%2Fsrc%2Fcomponents%2FVuetableFieldSwitch.vue&moduleview=1&view=editor)

[2018-06-18 11:32] TheFrankman commented on #475
Hello @ratiw - I did that but I didn't remove the rowData from my own props in the component. I just have a 401 unauthorised with Laravel to deal with. Guessing this is centred around http-options and axios which was working in the previous version.

Having a play around with this now.

app.js

[code]

[2018-06-18 11:46] TheFrankman commented on #475
Incase anyone lads on this issue via google. I'm not entirely sure why the axios default headers are being ignored for this new version of vuetable but I resolved it by keeping the above in my app.js then adding the following to my vuetable :

[code]

Thanks for your amazing help @ratiw - Keep up the good work !

[2018-06-18 11:51] ratiw commented on #475
@TheFrankman Have you look at [`httpFetch`](https://upbeat-montalcini-9fc063.netlify.com/api/vuetable/properties.html#http-fetch) yet?

[2018-06-18 11:54] TheFrankman commented on #475
@ratiw - I did but seemed overly complex for just adding a single header. Thanks though! Mark this one as resolved 👍

[2018-06-19 14:40] adavie1 commented on #472
@ratiw Thanks for the feedback. The `sort-field` is part of my wrapped data-table component. I should have taken it out of the jsfiddle.

The difference between `siteData` and `site` is that `siteData` is the prop, and `site` is local mutable version. As mentioned this component is passed the slot `props.rowData` as `siteData`.

`site` is initalised in the **data()** function, as `site: this.siteD

[2018-06-19 14:53] adavie1 opened #477 "Multiple Tables - Detail Row no longer shows"
I've looked at issue #171 , however, it doesn't quite answer my problem. I have a file-table component (based on vuetable). It works great when only one is on the page.

However, the client wants to see the table split according to workflow, for which files belong to which organisation (_long story, short version: each organisation uploads a predefined set of files in each step of the workflow_).

[2018-06-20 08:32] wesley-firewalla opened #478 "Move thead to the table together with tbody"
We need make sure the th has the same width as the td, so need to move the thead into the same table as tbody it is in.

[2018-06-20 08:37] wesley-firewalla opened #479 "[Bug]Use :key="item.id" instead of :key="itemIndex""
Currently when using the special fields(__component) , the content in the cell will not be updated when you goto the next page.

[2018-06-20 11:32] martixy commented on #454
Yea, that's one way. The callback, as noted in the old documentation is not the best option to do this(its purpose being formatting).

Since I posted here last time, we have a beta release of v2, which provides the necessary mechanisms for accomplishing this in a more structured manner.

[2018-06-21 08:05] cheer555 opened #480 "use data mode but tableData is null"
when pass api-mode prop as false and data prop as a array , via chrome dev tool, i can see vuetable data prop has value, but tableData is null. why ???

` <vuetable
                        ref="tablevue"
                        :api-mode=false
                        :data="data"
                        :fields="fields"
                        dataPath=""

                    </vuetable>`

[2018-06-22 12:45] omrihar opened #481 "selectedTo does not clear when new data is set"
I have a `vuetable` whose data depends on a selection from a list. When the list value changes, I change the data on the table (not through `apiMode`). I noticed that when the data changes and the rows with the value currently in `selectedTo` are no longer available, `selectedTo` is still populated. This could cause that the array contains values from different datasets.

I would recommend impleme

[2018-06-25 09:34] martixy opened #482 "Custom component header click handler not getting event"
I wonder - what exactly is going on here:
https://github.com/ratiw/vuetable-2/blob/next/src/components/VuetableRowHeader.vue#L14

Compare to [this](https://github.com/ratiw/vuetable-2/blob/next/src/components/VuetableRowHeader.vue#L22)

I noticed this the other day and wondered when it might bite me in the butt, and today it did when I tried to enable multi-sort. The multi-sort function attempts t

[2018-06-25 18:13] martixy opened #483 "selectedTo array contains duplicates after sort"
I was doing some sorting (in data mode if relevant) and noticed that the selectedTo array on the table(which contains the indices of the selected data entries) is not properly cleared and contains a duplicate of all selections for each sort operation.

[2018-06-27 04:55] ratiw commented on #481
@omrihar That is true. I haven't used the Data mode that much, so I haven't thought about this.

I think I could provide another function to help clearing out the populated `selectedTo`. But determining a proper logic to automatically clearing this will be a bit difficult as it might result in different behavior in the API mode.

In API mode, Vuetable will keep all the selected values across pages

[2018-06-27 04:58] ratiw commented on #483
@martixy Is this the same as in #481? If not, can you please fork [this codesandbox](https://codesandbox.io/s/oq9jj7l189) and demonstrate the problem so that I have more understanding on this?

[2018-06-27 05:07] ratiw commented on #482
@martixy The [L14](https://github.com/ratiw/vuetable-2/blob/next/src/components/VuetableRowHeader.vue#L14) is definitely incorrect. Sorry about that.

Thanks for the tip, it is useful. But I would prefer this to be explicit as it is easier to catch the bugs I've made. :)

[2018-06-27 05:26] ratiw commented on #477
@adavie1 I think, something is not right here.

- I've seen no `vuetable:detail-row-clicked` event registration in the code, e.g.
[code]

- You import VuetablePagination and VuetablePaginationInfo, but globally register other ones (but from the same source), then again locally register the ones you've imported. This is unnecessary and duplicated.

Those are what I've spotted at a glance, but the c

[2018-06-27 05:31] ratiw commented on #478
@wenbinke That's why you need to set `width` option in field definition object. If you set `tableHeight` without setting the `width` option, it will not work.  Please explain in more detail if this is not what you mean.

[2018-06-27 05:37] ratiw commented on #479
@wenbinke I don't think it is a bug, but I don't really get your point here. Can you please be more specific which part of the code this is?

[2018-06-27 05:39] ratiw commented on #480
@cheer555 Hard to say. Can you please put your code in codepen, jsfiddle, or codesandbox to show your problem?

[2018-06-27 11:14] omrihar commented on #481
@ratiw, I think this would be enough. Actually, it does make sense to keep the values between loads of the data for the sake of pagination. Perhaps it would also be enough to have a method to retrieve only the part of the array that is also part of the current data model. This might also be relevant for API mode, in case the user just wants the values selected on the current page.

[2018-06-27 13:51] adavie1 commented on #477
@ratiw - thanks for the feedback. Yes, the code is rather long. i coped an early demo for the data-table component. I'll look into your suggestions.

As to the detail row- that's passed as a parameter to data-table.

I'm using this to open the detail view:
[code]
Like I said, this is based on the tutorial from about year ago. Your event registration might solve the problem. Let me try that.

[2018-06-27 15:48] TheFrankman commented on #457
Hello @ratiw

I'm also having the same issues as this on the next branch. Doesn't seem to matter where I put the transform method. It never gets called.

I've looked at the two sandbox tutorials as well as the docs themselves. Everything appears to be correct. Am I missing something specific that needs to be done on the next branch ?

[2018-06-27 15:49] wenbinke commented on #478
I don’t think it is a good design that you separated the table into different parts. And the vuetable is buggy, I am not going to suggest anything.

[2018-06-27 15:55] TheFrankman commented on #457
Equally no luck with setData method.

[2018-06-28 03:45] ratiw commented on #478
I never claim that it is a good design. It is something that I build for myself and share to the others. If you don't like it, that's fine by me. No hard feeling at all. Life moves on.

[2018-06-28 05:20] ratiw commented on #457
@TheFrankman In v2.0 (the one in the `next` branch), Vuetable no longer looking for the `transform` function, instead you will have to assign it to the `transform` prop. The example available is for v1.7 only (where it is still searching for the `transfer` function).

If this is not the case and you can put your code in a codesandbox, I'll be happy to look into it.

[2018-06-28 09:08] Georgeek commented on #261
if I move fileds to fieldsFile.js for examle both variant of callback wont work
[code]

in App.vue
[code]

When i write fields in App.vue directly it works fine

[2018-06-28 09:29] #478 closed, assigned to nobody

[2018-06-29 02:18] ratiw commented on #261
@Georgeek You will need to move the `statusLabel` function into `fieldsFile.js` as well.

If I'm not wrong, this might be because of the way webpack work. During compilation and bundling, the code in `fieldsFile.js` is probably in another section, but will eventually get pull into the main code base dynamically.

So, you can do something like this,
[code]

Please note, however, that in v2.0 of Vue

[2018-06-29 15:12] #479 closed, assigned to nobody

[2018-07-03 03:31] jchaos opened #484 "How could I merge cell?"
I need colspan/rowspan

[2018-07-03 08:14] TheFrankman commented on #457
Hello @ratiw - Sorry for the late replay on this, i've been on leave.
I can confirm that simply adding `:transform="transform"` and altering no other code resolves the issue.
My apologies, i didn't realised in the documentation that the transform was within the props section.

[2018-07-03 08:46] Georgeek opened #485 "Pagination http-fetch problem"
@ratiw hi!
In vuetable-2 i'm using http-fetch (send post request).
[code]
[code]

and successfully get response from server
[code]

1. how to set axios.post to "next_page_url", "prev_page_url"??
2. Is it a good practice to calculate pagination on client side (from, to, lastpage)? Or its better to do on serverside (php my admin)

i cannot post it to codepen because data is closed

[2018-07-04 03:25] Georgeek commented on #485
solve it on backend, wrong calculation on server-side. Sorry.

[2018-07-04 03:25] #485 closed, assigned to nobody

[2018-07-04 08:57] ratiw commented on #484
There are not directly support in Vuetable. You will have to create a component for it yourself.

[2018-07-04 18:53] edgarscr opened #486 "Passing extra value"
Hello howdy? i want to add extra value from API to display on tables

**OLD API**
{"car_number":"HU-ML 99"}
table row old setup:
name: HU-ML 99

**NEW API**
{"car_number":"HU-ML 99"**,"license_total":"2"**}

table with new setup:
name: HU-ML 99 **license_total**

i want to integrate the licence_total with car_number

but i dont know how to add with callback or smth? i search and not found nothing

[2018-07-05 01:46] #484 closed, assigned to nobody

[2018-07-06 13:11] abc245 commented on #328
would be really great to have the fixed column support

[2018-07-09 02:58] adavie1 commented on #477
I've reduced the code to the bare bones. I can use my data-table component more than once on pages- but they are very different URLs and refs.

In relation to  ` @vuetable:detail-row-clicked` I am using `@vuetable:cell-clicked` like I said this was based on an example from about a year ago. It definately needs some refactoring.

As to pagination, yeah, removed the global ones. I was learning vue a

[2018-07-09 06:17] zxc23 opened #488 "Possible to have a custom header for special fields?"
I have a special fields slot (https://github.com/ratiw/vuetable-2/wiki/Special-Fields#-__slotname) for actions in my table, and I wanted to customise the header for that one column by adding my own components. Is it possible to achieve this in vuetable-2 currently?

I've seen that in more recent versions it is possible to have a fully custom table header, but I'd like to keep the headers for all t

[2018-07-09 09:08] ratiw commented on #488
@zxc23 You can do this in v2.0 (currently in beta) of Vuetable-2. For this particular column, you just have to create Field Component, then you'll have total control over the header of the column. The rest of the columns can be Field Slot, which is not that different than the `__slot` special field. The only different is that you don't need to prefix those columns with `__slot:` anymore.

Please s

[2018-07-09 09:25] zxc23 commented on #488
Thank you. I will try updating and see how I go.

Edit: Fixed url above http://www.vuetable.com/guide/special-field.html

[2018-07-09 23:47] ratiw commented on #486
@edgarscr For v1.7.x, use either `__slot` or `__component` special field. For v2.0, use Field Slot or Field Component instead. Please go through the tutorial and documentation carefully, they are all there.

[2018-07-09 23:51] ratiw commented on #477
@adavie1 Sorry to hear that, but I can't really figuring out the problem based on your description.
If you can create a project in [CodeSandbox](https://codesandbox.io) to demonstrate the problem, I can have a look at it.

[2018-07-10 02:04] adavie1 commented on #477
@ratiw figured it out. It's an elements-ui thing. For some reason if you don't have `<el-row>` followed `<el-col>` it ignores events from inside `<el-col>` without an `<el-row>` parent. This is a new "feature" previous code worked fine.

Sorry for the false alarm.

[2018-07-10 02:04] #477 closed, assigned to nobody

[2018-07-10 02:13] zxc23 commented on #488
It works well, thank you. I'm having more difficulty with other things breaking due to updating from 1.6.5 -> next but this may be something for a separate issue.

[2018-07-10 02:13] #488 closed, assigned to nobody

[2018-07-10 02:20] ratiw commented on #488
Let me know and maybe I can help on those transitions.

[2018-07-10 03:05] zxc23 opened #489 "Transition issues between 1.6.5 and 2.0.0-beta.1"
**I'll be actively updating this thread as I (hopefully) solve the problems I currently have.**

I'm using vuetable-2 in a desktop app (electron + webpack) with data mode. Vue version 2.5.13. I've tweaked quite a few things over time to get the behaviour I wanted so I imagine some of my problems could be unique to my codebase. I'll number them for easier referencing.

**1. On displaying all my dyn

[2018-07-10 06:44] ratiw commented on #489
1) Vuetable is trying to generate a specific CSS class name for one of your column by guessing from the `name` option of field definition or the "name" of the component. So, please check all `name` option of your fields definition if any of them is not a string, or the component object you specified in the `name` option does not have a "name" key.

2) Since you're using Data mode, that probably is

[2018-07-10 21:30] #233 closed

[2018-07-10 21:30] #344 closed

[2018-07-11 05:48] zxc23 commented on #489
1. I neglected to add a name property to my new field component. Error's gone now. Thanks 👍

Looking into the rest currently.

[2018-07-13 04:59] shaprk opened #490 "this.$refs.pagination is undefined"
Hi, thanks for your great work.
But I have a problem in pagination. When I try to use render function following lesson 17 in tutorials, I face this error in browser :

*TypeError: "this.$refs.pagination is undefined"*

When I took a look at [Vue API doc](https://vuejs.org/v2/api/#ref) I found this:

I think that's the problem for me too. What should I do ?

[2018-07-13 05:18] shaprk commented on #466
XSS works only on client data, therefore you don't need to change v-html on all fields and lose icon rendering.
I think validating search field is enough; because that's the only client input I think. If you show its input anywhere, use v-text for it

[2018-07-13 05:51] sylvaincaillot opened #491 "Sortby and orderby parameters"
Hi,
Using vuetable-2 v2, I am trying to use the sort parameters as my API endpoint does not accept to receive both the sorting order and the field into a single parameter:

This is where I am so far:

[code]

And it keeps returning
?orderBy=departure%26sorting%3Dasc&page=1&limit=10
while I would expect:
?orderBy=departure&sorting=asc&page=1&limit=10

What am I doing wrong?
Is there a way to direct

[2018-07-14 04:51] ratiw commented on #490
@MrProgramador Are you using v1.7 or v2.0 of Vuetable-2 when following the tutorial?

[2018-07-14 05:02] ratiw commented on #491
@sylvaincaillot `sort-params` is intended to be used to override `sort` key only. In your case, you'll have to use `query-params` function as demonstrated [here](http://www.vuetable.com/guide/sorting.html#overriding-default-query-string) (the last example) instead.

If you're still having problem, please let me know.

[2018-07-14 08:00] sylvaincaillot commented on #491
Thank you very much, this is exactly what I needed.

[2018-07-14 08:00] #491 closed, assigned to nobody

[2018-07-15 15:10] shaprk commented on #490
@ratiw I used v2.0
I was trying not to use props and it didn't work, but when using props it worked.
However I wonder why it is possible to use $refs in render function while Vue Doc says you can't !

[2018-07-15 15:46] shaprk opened #492 "Reloading table data with action buttons"
Hi,
Following tutorial 17, I made some action buttons in my table such as delete button.
Now when I use it to delete a row, after deletion, I want table to reload, because if it had 10 results per page, after deletion it has 9 rows.
How can I do that?

[2018-07-16 04:15] sylvaincaillot opened #493 "API-mode, pagination, only total records"
Hello,

I am now trying to implement the pagination part using the v2 version using either bootstrap 4 or element-UI.
However, the API I am targeting, is only returning the total number of records, nothing more.
It seems that vuetable is expecting some specific properties to have the pagination working correctly.

Is there a way to generate/calculate automatically these properties considering that

[2018-07-16 07:42] chaymag opened #494 "Add additional filters"
I want to add other filters , I'm already using the search filter..Is this possible?

[2018-07-17 04:02] sylvaincaillot commented on #493
OK I did as follow if it can be useful to someone else:
[code]

[2018-07-17 04:02] #493 closed, assigned to nobody

[2018-07-17 04:07] sylvaincaillot opened #495 "Column filter, v2"
Hello,
Using this example from for your codesandbox for the v2: https://codesandbox.io/s/wq540wrrnw, it doesn't seem to work properly, the data is not filtered.
The filters are properly generated: `filters[]=departure|NYC&filters[]=arrival|CDG` but not passed to the API. How do you do that?

---------------------- EDIT--------------------------

Ok i think i found it by using the moreParams proper

[2018-07-18 04:16] sylvaincaillot commented on #495
Ok i was able to fix my column filter using

`this.$nextTick( () => this.$refs.vuetable.refresh())   `  in my filter event

[2018-07-18 04:16] #495 closed, assigned to nobody

[2018-07-18 04:30] sylvaincaillot opened #497 "Extend the filter column properties"
I have implemented column filtering using this [example](https://codesandbox.io/s/wq540wrrnw) and it works nicely.
However, i would like to extend it further by adding a dedicated placeholder text for each column filter. So instead of a having a generic  "Search..." as here:

[code]

It would be nice to have a dedicated property for the placeholder text something like:

[code]
with the following f

[2018-07-18 04:39] sylvaincaillot commented on #494
I am not sure what you are looking for but you can add column filtering quite easily. See this [example](https://codesandbox.io/s/wq540wrrnw)

[2018-07-18 21:06] mickiii opened #498 "URL navigation"
This is probably a basic thing, but I have not been able to find it in here or in the docs.

I want to store the url "get" parameters for the latest table rendering, i.e. the last one made, so when I click a row and redirect to another page, I can press back and return to the tables previous state. Another press back will result in the previous page, before the table. Hope it makes sense. In api-m

[2018-07-20 03:43] ratiw commented on #490
@MrProgramador It actually does not say that you cannot use it in the render function. You just cannot use it "on the initial render". After the initial render, you can use it because Vue already make after that point.

[2018-07-20 03:44] ratiw commented on #492
You can use the [`reload`](http://www.vuetable.com/api/vuetable/methods.html#reload) function for that purpose.

[2018-07-20 03:56] shaprk commented on #490
Thanks

[2018-07-20 03:56] #490 closed, assigned to nobody

[2018-07-20 03:58] shaprk commented on #492
How to use it in a method in App.vue component?

[2018-07-20 03:59] ratiw commented on #497
The `RowFilter` is meant to be an example showing how you can implement it in v2.0 of Vuetable. It will not be included in Vuetable package.

The idea is that people can create their own Vuetable specific component and share it as an npm package so that it can be pulled in (via `import`) and use with Vuetable.

In your case, you can just put those extra parameters in the field definition and use i

[2018-07-20 04:04] ratiw commented on #492
Usually when you use special `ref` attribute to declare a reference point like so,

[code]

Then, you can reference it in your javascript script via `$refs` at the point relevant in your code logic.
You may or may not have to wrap it inside `nextTick` function depending on the logic in your code.

[code]

[2018-07-20 04:25] ratiw commented on #498
This is two things in the issue you mentioned, the routing and state retaining. I think the only relevant one is the "state retaining" as routing is not in the scope of Vuetable.

For state retaining (or component state management), I have a plan to offer support this directly in Vuetable, but still have to wait until I have time. There are some discussion about this already in earlier issues.

Bu

[2018-07-20 04:28] shaprk commented on #492
Is it necessary to do it on a App.vue component?
I mean I wanted to use some blade file capabilities, so I did not use any app.vue file.
I used my components in blade files directly and my delete method is defined in app.js in Vue instance itself
[code]

but I get this error when running the method :
TypeError: this.$refs.vuetable is undefined

[2018-07-20 04:46] sylvaincaillot commented on #497
Thank you very much @ratiw.
I haven't seen it was that flexible. Few modifications in the code and I can now target different fields for my API and add custom text in the search inputs.

Have a great week end
S.

[2018-07-20 04:46] #497 closed, assigned to nobody

[2018-07-20 04:54] ratiw commented on #492
I think you misunderstand some points. You cannot mix the front-end and back-end together. You rather make the front-end "works with" the back-end.

Laravel Blade is in the back-end side. Vue is on the front-end side.

So the question "is it necessary to do it on the App.vue component?" is not really correct. The `this.$refs.vuetable.reload()` call is supposed to be where you can "reference" `this

[2018-07-20 05:18] shaprk commented on #492
This is my VueTable component:
[code]
and here is my page.blad.php file:
[code]
I understand what you say but I don't know what to do

[2018-07-20 06:13] ratiw commented on #492
Hmm, I didn't think that you're using render function. At that time when I made the tutorial, I can't use `$scopeSlots` inside the template. Vue has changed and it is now allow.

Maybe you can add a method (that will be represented as a computed prop) in your `VueTable` component that would reference to the internal Vuetable.

[code]

and this to your blade
[code]

Then, you should be able to do t

[2018-07-20 06:36] shaprk commented on #492
It doesn't work
TypeError: this.$refs.myVueTable.vuetable.reload is not a function

If I get a console.log(this.$refs.myVueTable.vuetable) It retruns :
function vuetable()

But your suggestion does not work.
Would you please show me a complete way?
I can change my whole code if needed.

[2018-07-20 06:40] ratiw commented on #492
Have you tried this?
[code]

[2018-07-20 06:43] shaprk commented on #492
Error :
_TypeError: this.$refs.myVueTable.vuetable(...) is undefined_

[2018-07-20 06:46] shaprk commented on #492
It worked !
[code]
It needed a return :
[code]

[2018-07-20 06:47] shaprk commented on #492
Thank you very much @ratiw
you helped me a lot today.

[2018-07-20 06:52] ratiw commented on #492
Yep, always forgot the `return`. Sorry, my bad. Glad you've figured it out. :)

[2018-07-20 07:02] #492 closed, assigned to nobody

[2018-07-21 23:47] RomanDavlyatshin opened #500 "Changing ascending/descending icon class has no effect"
I'm trying to implement custom asc/desc icons using [this lesson](https://github.com/ratiw/vuetable-2-tutorial/wiki/lesson-10#changing-ascendingdescending-icon) as a reference.
But original classes stay the same ("sort-icon blue chevron up icon" and "sort-icon blue chevron down icon") and my classes are ignored completely
`
  data() {
    return {
      css: {
        ascendingIcon: 'triangle-up',

[2018-07-21 23:55] RomanDavlyatshin opened #501 "Documentation links to lessons are outdated"
[That page](https://ratiw.github.io/vuetable-2/#/Pagination) and I believe all other pages referencing lessons contain [outdated links](https://github.com/ratiw/vuetable-2-tutorial/blob/master/doc/lesson-07.md), as lessons moved from blob/master to wiki.
Please, fix.

[2018-07-23 19:57] warlord0 opened #502 "Bootstrap 4 Pagination"
Thanks for what looks to be a great vuetable. I've tried a few and run into several jQuery/Bootstrap 3 issues. This one seems pretty tight and fits my Laravel 5.5 needs.

I wasn't sure on a PR for this, but I built a paginator for Bootstrap 4 that uses fontawesome (free). I thought others might like the code.

It includes first, prev, sliding window, next and last.

[code]

[2018-07-24 17:35] warlord0 commented on #502
... and as a Dropdown for Bootstrap 4.

Include first, prev, dropdown, next and last.

## VuetablePaginationDropdownBootstrap.vue

[code]

[2018-07-25 03:35] ratiw commented on #500
Can you please give me some more information. Are you using Vuetable-2 v1.7 or v2.0-beta? What UI library are you using?

[2018-07-25 03:39] ratiw commented on #501
Sorry for that. Those pages will soon be replaced when v2.0 is released (currently in beta). The document for the v2.0-beta is available [here](https://vuetable.com).

[2018-07-25 03:43] ratiw commented on #502
Thanks a lot @warlord0. If you could create a npm package for it, it would be more convenient for other people to pull your work in via `npm install`. You could also make a gist showing your code and I'll make a link in the documentation to your work to give you a proper credit for your work. :)

[2018-07-26 13:05] warlord0 commented on #502
You kind of read my mind. But I'm not really confident enough in pushing things into a proper npm package right now.

I'm not requiring any credit. Your work is far more worthy than my scratchings.

I have documented a few things including JWTAuth on my own blog here: https://warlord0blog.wordpress.com/2018/07/26/vuetable-2/

[2018-07-30 14:11] phaberest commented on #328
@ratiw can you please confirm if the fixed columns are still a needed feature, I may start contributing on that

[2018-07-30 18:11] warlord0 commented on #502
@ratiw I'm working on getting this into a package - now I know how :) But I wonder if you could advise on something.

I've created a vue component containing many of your components, pagination etc. and from my parent component I am passing in enough details to standardise the table I want returned. eg.

[code]

It works jsut great until I run into wanting to use slots in the fieldsDef.

In the ch

[2018-07-31 05:37] ratiw commented on #502
Are you using v1.7.x or v2.0-beta?

[2018-07-31 10:27] warlord0 commented on #502
v1.7.5 according to my dependencies.

How stable is the beta?

Edit: Ahh, I see a VuetableFieldMixin that looks like what you're pointing to in v2.0.

[2018-08-01 07:04] ratiw commented on #502
v2.0-beta is quite stable, except for a few bug that shouldn't affect your case. Even though there are some breaking changes, I try to keep it very minimal. Please see [this release note](https://github.com/ratiw/vuetable-2/releases/tag/v2.0.0-beta.1) for more detail. The document has also been revised and you can see it at [`vuetable.com`](https://vuetable.com). If you get stuck on anything, plea

[2018-08-01 11:08] cioraneanu opened #503 "Add sort event to Vuetable component"
I've looked through the documentation but didn't find any event that is trigger when the sorting changes. Is there a reason for this?

I'm handling the server requests myself (apiMode=false, and using :data prop) so I need to perform a new GET request when sorting changes.

Thank you.

[2018-08-01 17:20] Vasiliy-Bondarenko opened #504 "custom cell classes"
Is there a way to set custom classes for each cell? i want to send classes from backend. something like:
[code]

[2018-08-02 12:18] ratiw commented on #503
@cioraneanu You need to provide the "data manager" to handle that. See example for v1.7 [here](https://codesandbox.io/s/239v6w2vkp) and example for v2.0-beta [here](https://codesandbox.io/s/y0z80ooxk9) and an explanation [here](http://www.vuetable.com/guide/api-vs-data-mode.html#data-mode).

[2018-08-02 12:19] ratiw commented on #504
@Vasiliy-Bondarenko Not really. Unless you use special field. Are you using v1.7.x or v2.0-beta?

[2018-08-02 12:59] Vasiliy-Bondarenko commented on #504
@ratiw special field? what do you mean? some special component?
I don't use any version just yet. i'm choosing which package is suitable for my needs :) i'm ok with beta if it's worth it.

[2018-08-02 15:15] ratiw commented on #504
@Vasiliy-Bondarenko Then, go through the documentation [here](https://vuetable.com) first and see if you like it. Or ask some questions on what you're unclear after going through the documentation.

[2018-08-02 17:02] cioraneanu commented on #503
@ratiw Oh I see. Apparently I was looking at the wrong docs (https://ratiw.github.io/vuetable-2/#/). The data manager will handle my needs 👍

Thank you for your response. WIll close this issue.

[2018-08-02 17:02] #503 closed, assigned to nobody

[2018-08-03 11:55] mathiasleroy commented on #480
+1
I have trouble with replacing the `api-url="https://vuetable.ratiw.net/api/users"` that is in every example.
How can we use or own json data?

`data="[...]"`  from the docs doesn't work. : https://ratiw.github.io/vuetable-2/#/Vuetable-Properties?id=-data

here is fiddle
http://jsfiddle.net/z11fe07p/4231/

http://jsfiddle.net/z11fe07p/4234/

@ratiw

[2018-08-03 12:13] mathiasleroy commented on #480
I got it, you have to set `:api-mode="false"`

[2018-08-03 14:16] mathiasleroy commented on #138
+1

Isn't there an event fired when a header is clicked ?
The class already changes when hovered, we just need the sortOrder icon
 and then we could use an event to trigger a sort in a computed function

[2018-08-03 16:02] warlord0 commented on #502
This worked out really well. I got around to adding v2.0 beta and added the mixin for my columns.

The example [here](https://codesandbox.io/s/7zkrn4lvz0?module=%2Fsrc%2Fcomponents%2FVuetableFieldSwitch.vue&moduleview=1&view=editor) doesn't seem to work but I was able to take enough from it to create the necessary working code.

Thanks for a great component.

[2018-08-03 16:02] #502 closed, assigned to nobody

[2018-08-03 19:16] warlord0 opened #505 "Componentised Bootstrap 4 - Not an Issue"
After getting this going in my project I thought I'd post here for others to see.

[warlord0/vuetablebase](https://github.com/warlord0/vuetablebase)

I used vuetable-2 as a basis to build a Bootstrap 4 wrapper that brings in search, pagination and field defs using the v2.0 __VuetableFieldMixin__ feature.

I published more as an example of a learning excercise than an expectation of being a live co

[2018-08-04 08:09] warlord0 commented on #214
Not sure if this helps, but I kinda do the reverse. My global axios passes the CSRF and Authorization headers as a common header. Sometime I don't want to use them eg. when calling an api from another site.

To achieve it I use a replacement instance to call axios and remove headers. You could use the same to add them.

[https://warlord0blog.wordpress.com/2018/08/01/axios-and-the-x-csrf-token/](ht

[2018-08-04 08:19] warlord0 commented on #475
@TheFrankman  you should revisit this. It's easier than you think.

By using `:http-fetch="getData"` just call the global instance of axios. Then it keeps all your common headers.

[code]
Or change the instance and add delete your own.
https://warlord0blog.wordpress.com/2018/08/01/axios-and-the-x-csrf-token/

[2018-08-06 11:41] IvoPereira opened #506 "Column callback does not return expected output"
Hello,

I have been integrating vuetable-2 successfully into my project. However, I was not able to get column callback to work.

I've reproduced the issue in a very basic example in the following snippet:
https://codesandbox.io/s/131m9o1o04

The majority of the example was rewritten from here:
https://github.com/ratiw/vuetable-2-tutorial/blob/lesson-6/src/components/MyVuetable.vue

The issue is i

[2018-08-06 13:14] ratiw commented on #506
@IvoPereira The tutorial is for Vuetable-2 v1.7.x, but in the given codesandbox you're using v2.0.0-beta.1, which has renamed `callback` option to `formatter`.

Please see the v2.0-beta release note [here](https://github.com/ratiw/vuetable-2/releases/tag/v2.0.0-beta.1) and the official documentation for v2.0-beta is [here](https://vuetable.com)

I still don't have time to update the tutorial to v2

[2018-08-06 14:06] IvoPereira commented on #506
Ah, I see, thanks a lot @ratiw.

Yeah, there are some versions of the repos and guides and that makes some confusion but clarified now 👍

Just for reference for anyone that stumbles into this issue, this should be used instead:

[code]

More in https://www.vuetable.com/guide/fields-definition.html#field-options

Thanks!

[2018-08-06 14:06] #506 closed, assigned to nobody

[2018-08-06 15:00] IvoPereira opened #507 "Possible to get other values in one column?"
I am looking for a way to handle two colums in one.

For example, being able to have a **Full Name** column, represented by the field **first_name** and **last_name**.

Is this something that could be done currently or is such a feature planned?

Thanks

[2018-08-06 15:04] IvoPereira commented on #507
Damn, why I don't search a little further before posting an issue.

Found out how. Just don't specify the key _name_ in the field definition, like this:

[code]

The value will have all the keys of that specific row.

[2018-08-06 15:04] #507 closed, assigned to nobody

[2018-08-06 15:55] chaymag opened #508 "How to know if the detail row was open or closed"
Hi, I need to show an alert when the user opens the detailrow i tried adding the code in the onCellClicked method , it works but the alert is also displayed when the user closes the detailrow , how can I fix this?

[2018-08-07 03:03] HarmlessEvil commented on #205
@cristijora `reload()` has one drawback (correct me, if I'm wrong) - if you had 11 records, 10 per page, was on the 2nd page, deleted one record - `reload()` will query 2nd page again and table will display something like "No records matching your query were found"

[2018-08-07 03:30] HarmlessEvil commented on #205
@cristijora, imagine a situation where you have 11 records, 10 records per page and you are on the 2nd page. You're deleting one record then method `reload()` queries 2nd page again and you'll see "No records matching your query found" even without pagination. So, it's better to avoid it and use `refresh()`, I think

[2018-08-07 12:50] ratiw commented on #508
@chaymag More info [here](http://www.vuetable.com/guide/detail-row.html#how-vuetable-track-the-state-of-each-detail-row).

[2018-08-07 13:29] #508 closed, assigned to nobody

[2018-08-07 13:35] chaymag opened #509 "View detail row when clicking the component column"
I have a component name: '__component .. It has an icon when I click on it some data shows , I added the detail row component , when I toggle any column it works fine but when I click on the component column nothing shows (I can't see the detailrow) Is there anyway to fix this?

[2018-08-07 16:39] IvoPereira commented on #324
What would you recommend doing in this case @ratiw?

I was trying to implement a tooltip in a cell too.

Have you ever came to any solution @JBtje?

[2018-08-08 13:00] JBtje commented on #324
I use a span with title....

[2018-08-08 13:13] ratiw commented on #324
You should use special field instead. In v2.0, you could create a Field component to support that functionality. For a single use, Field slot (or `__slot` special field in v1.7) should be enough.

[2018-08-08 13:21] ratiw commented on #205
In my opinion, this is really an edge case. But if you prefer to handle this, you could add a logic to do a preliminary checking and decide whether you should call `reload()` or `refresh()`.

[2018-08-08 13:38] ratiw commented on #509
I think you may need to handle the click event in the component to toggle the detail row.

[2018-08-08 14:54] chaymag commented on #509
I need to be able to see the detailrow when i click anywhere inside the column that contains the icon (meaning not only when I click on  the icon for example) it has to work just like in the other columns.
Anyway to make this happen please?

[2018-08-08 18:13] JBtje commented on #324
For those too lazy to search: https://github.com/ratiw/vuetable-2-tutorial/wiki/lesson-11#__slotname--v120 / https://ratiw.github.io/vuetable-2/#/Special-Fields?id=-__slotltnamegt

[2018-08-08 18:13] #324 closed

[2018-08-09 14:00] bochkovyi commented on #336
@ratiw hi, passed by here. I am using Apollo Graphql and wanted to use it together with Vutable2 beta.
But looks like dataManager does not support working with promises. And direct connection of the api to graphql does not seem to be possible.

[2018-08-09 14:36] ratiw commented on #336
@bochkovyi I could say that I'm familiar with Promise concept, but I'm not quite sure about making dataManager supporting promises? Could you please suggest the scenario on how it would be to make dataManager support promises? Or even making Vuetable-2 able to work with graphql in API mode? I really don't know much about graphql. Any advice and/or suggestion would really be appreciated.

[2018-08-09 16:29] bochkovyi commented on #336
@ratiw thanks for your reply:)
OK, let's look here: https://github.com/ratiw/vuetable-2/blob/next/src/components/Vuetable.vue#L989

1) looks like on line 992 we already check if this.data is an Array and assign it. Therefore, no need to additionally make an attempt of assigning it on line 1000.
2) return message on line 997 is also not needed because callDataManager is not expected to return anyth

[2018-08-10 07:10] bochkovyi commented on #336
@ratiw please check my reply above I edited it in this part.
typeof result === "object" && typeof result.then === "function"
I've tested this in such a way: hijacked the this.$refs.vuetable.callDataManager in the mounted hook of my component and placed the above snippet. It really works:) But not from page load, so I had to trigger sorting buttons to actually refresh it. Anyway, I am using the sol

[2018-08-10 17:23] AngeloAnolin opened #510 "__checkbox column disabled based on row value"
I know this has been asked on this [issue # 289](https://github.com/ratiw/vuetable-2/issues/289).

But I am unsure how to implement the row-class to disable the checkbox column for a specific row.

On the [row-class wiki](https://github.com/ratiw/vuetable-2/wiki/Vuetable-Properties#-row-class) it says, you can define a method and it applies a class that is applied to the row itself. How do I retur

[2018-08-11 03:20] ratiw commented on #336
@bochkovyi Thanks for the suggestion and pointing out those two points. It's all valid and will see if I can find sometime during the weekend to apply it.

[2018-08-11 03:42] ratiw commented on #510
@AngeloAnolin Sorry, my suggestion in #286 was a bit vague. The suggestion was actually not to use `__checkbox` special field, but instead use the `vuetable:row-clicked` event together with `row-class` prop to achieve the single select visual experience.

I think the implementation of `__checkbox` special field does not really account for the situation where you could selectively disable the check

[2018-08-12 06:00] bochkovyi commented on #336
@ratiw
thanks for mentioning!
I tried to yarn upgrade, but looks like it works only when the package version changes...
And even sudo rm -rf node-modules did not help.
How can I fetch your latest updates?:)

[2018-08-12 07:34] ratiw commented on #336
@bochkovyi I think the easiest way is to fork from [the `next` branch](https://github.com/ratiw/vuetable-2/tree/next) of this repo and use the fork in your app and test it.

Beware, though, that the `next` branch is v2.0-beta. See [this release note](https://github.com/ratiw/vuetable-2/releases/tag/v2.0.0-beta.1) on how to upgrade, and new documentation is at [https://vuetable.com](https://vuetabl

[2018-08-12 07:54] ratiw commented on #509
If I remember correctly, you may be able to use `v-on:click.capture` option, to capture the click before it is sent to your component. See [here](https://vuejs.org/v2/guide/events.html#Event-Modifiers).

[2018-08-13 05:18] commititup commented on #182
[code]
TypeError: "can't assign to property "params" on "{headers:{'Authorization', 'Basic <token>'}}": not an object"

How can i achieve this ?

[2018-08-13 06:13] ratiw commented on #182
@onlineexamsystem Shouldn't you have a `:` in front of `http-options`?

[2018-08-13 11:52] martixy opened #511 "[Bug] Promise support in dataManager broken"
https://github.com/ratiw/vuetable-2/blob/7bc80be907e726fc32fe9cbd49afe7cf842547a2/src/components/Vuetable.vue#L1032-L1034

- `null` is an object
- `null` does not have a `then`

Just that is a clear failure mode of this function.

How I ran into this bug:
- I use data mode.
- Manually set the data(e.g. call `setData`).
- Return vuetable's reference to the data in the `dataManager`.

So now, when v

[2018-08-14 05:58] ratiw commented on #511
@martixy Sorry, my bad. Update the code to the following should have solved it then. Did I miss anything else?

[code]

I don't know how to write a test to verify the whole Promise support, so I'm totally in a blind here. If you see anything else, please let me know. Otherwise, I'll fix it and push the beta.3 later today.

[2018-08-14 10:22] amoshydra commented on #197
I suspect this could be the only code that is causing the module to not work in SSR environment

https://github.com/ratiw/vuetable-2/blob/f06b8a58f1ea8ea68fdb68da4baefb4745cedd6f/src/index.js#L9

I am able to use vuetable-2 in nuxt by changing `window` to `global` (node use global and modern browser support global).

For better compatibility, we could do more. See: https://github.com/ratiw/vuetabl

[2018-08-14 13:05] martixy commented on #511
Yea, that should fix it. `null`s flying around shouldn't be an exceptional state otherwise, so nothing else to do.

[2018-08-14 13:23] #511 closed, assigned to nobody

[2018-08-14 18:46] matiasperrone commented on #360
Cheout: https://github.com/FortAwesome/vue-fontawesome

You need to do this:
[code]
This will solve the issue.

[2018-08-20 12:27] Geowan opened #514 "Changing color of the selected row"
I would like to change the color of a selected row to have something like this

![rowchanges](https://user-images.githubusercontent.com/20105002/44340303-1ab1bd00-a48d-11e8-8d6c-5b0b600ebc11.png)

Now in my code i have

                                     <vue-table ref="vuetable"
                                   @vuetable:pagination-data="onPaginationData"
                                   @v

[2018-08-20 13:59] ratiw commented on #514
Use [`row-class`](http://www.vuetable.com/api/vuetable/properties.html#row-class) prop.

[2018-08-22 06:31] eduardoarandah commented on #259
How to display a field with multiple column data?

fields:[
        {
          name: 'name',
          callback: **< - here send name and url**
        },
        {
          name: 'url',
        },

[2018-08-22 12:22] ratiw commented on #259
@eduardoarandah Each field will get only one value from its data. If you need to put more than one column data into a single field, consider using `__slot` special field (v1.7.x) or Field Slot (v2.0).

[2018-08-22 12:43] eduardoarandah commented on #259
Thanks!

I got stuck at tutorial:
https://github.com/ratiw/vuetable-2-tutorial/wiki/lesson-06

A small example there might be very helpful, creating a "link" is common

Question:
what do you think about passing the row as a second argument to callback?

[2018-08-22 15:42] ghost opened #516 "How to re-set(re-loading) Pagination data with axios response?"
Hi. I would like to display the data and the pagination by doing the search processing after pressing the search button.
But I'm not sure that how to set axios response data.
I should use "filter"? however, the response data is too big. so I use `:load-on-start=false`
Please tell me right way.

Data and pagination are displayed in the following way, but clicking pagination causes the following err

[2018-08-23 04:43] ghost commented on #516
I resolved it myself.
I didn't use `this.$axios.$get`

[code]

[2018-08-23 04:43] #516 closed, assigned to nobody

[2018-08-23 09:10] commititup commented on #120
Hi
I have a situation when server return 404 and table still keeps  loaded data which it's got in  the previous request and don't get updated in case of 404 but get updated if the response is success.
i want to show the Error in table instead of previous request loaded data

//vuetable

[code]

//method which get called on each button click

[code]

//selecting different fields for diffrenet input

[2018-08-23 22:19] mantey-github opened #517 "Filtering not working"
Trying to filter in vuetable-2 its not working. Same with sorting. It works when i use default data from http://vuetable.ratiw.net/api/users . But does not work with my data.

This is my output data
[code]

[2018-08-24 09:39] mszkb opened #518 "Custom field click events"
Is it possible to make a custom click event for fields?

For example: I want to place a checkbox before each title field, like this

[code]
When I click the checkbox/label a custom event should fire.
@click doesnt work, and the callback property is executed immidiatly.

[2018-08-24 09:45] ratiw commented on #517
@mantey-github In API mode, Vuetable does not handle filtering and sorting on its own. It just sends parameters back to the server for processing and returning the result to it. In Data mode, it will call your provided function to do necessary processing (in this case, filtering and sorting) and wait for the returned result. Please go through the documentation [here](https://vuetable.com).

[2018-08-24 09:48] ratiw commented on #518
You need to write a component using `__component` special field (v1.7.x) or Field Component (v2.0). The `title` option normally is for displaying column title (text) only.

[2018-08-24 10:22] mszkb commented on #518
Ok, I guessed so. I hoped i could avoid that.

Thank you, ill share the solution to my particular problem next week.

[2018-08-24 10:22] #518 closed, assigned to nobody

[2018-08-24 13:39] mantey-github commented on #517
I am using the API mode and this is how I return the data from my server with Laravel
[code]
My output
[code]

[2018-08-26 12:25] mantey-github commented on #517
OK. Thanks

[2018-08-28 02:43] ratiw commented on #259
@eduardoarandah Personally, passing row data as to the callback would defeat the purpose and scope of the `callback`. It was meant to be used as a value format function for that column. That's why I renamed it to `formatter` in v2.0. If you need more than a simple formatting of value, `__slot` is more appropriate.

[2018-08-29 01:58] fj02090710 opened #519 "CSS"
Hello, the style of the head and row table is not aligned, each column is out of place, how to adjust?

[2018-08-29 03:37] fj02090710 opened #520 "Hello, how does the operations bar hold the column still"
Hello, how does the operations bar hold the column still

[2018-08-29 08:33] 4nik4 commented on #466
@ratiw could you tell me if anything has been done regards to this in the beta version?

If not, i am thinking of forking the repository for myself and do some html sensitization in v-html.

[2018-08-29 09:41] ratiw commented on #519
Please provide more information.
- What version of Vuetable-2 you're using?
- What CSS framework you're using?
- Did you set the `width` correctly in the Fields definition?

[2018-08-29 09:45] ratiw commented on #466
@AnikaErceg Nope. I haven't done anything regarding this yet.

[2018-08-29 12:08] Tchayo opened #521 "Tutorial with axios usage"
I like your work and I find vuetable-2 quite helpful. My problem is that it is a little difficult to locate tutorials that actually have axios examples. If they are available please give the link..if not somebody can at least help out.

[2018-08-30 04:04] ratiw commented on #521
What kind of axios usage with Vuetable that you are looking for?

[2018-08-30 08:24] Tchayo commented on #521
CRUD operations with axios and vuetable-2 and of course searching. See my fear is i could use the axios tutorials but there is a fear of being redundant which will eventually bloat my code.

[2018-09-03 08:28] Georgeek opened #522 "form-data append-params"
Good day :)
I'm having an issue with append-params props. In docs says to use it in case adding search word for examle. It works in GET and i see it in url. But what if I need to put it in Form Data?

Here is example:
[code]

is there any way to add and send updated formData to server?

[2018-09-06 01:30] ghost opened #523 "Hide header?"
Would you tell me that how to hidden <th> tag?
I'd like to hidden <th> tag.

one example:

[code]

Thanks.

[2018-09-07 13:51] lnavimanl commented on #256
bump

[2018-09-09 05:20] khalwat opened #524 "Accessing values from other columns"
First of all, thank you @ratiw -- I love the way you've architected Vuetable-2, and appreciate all of your hard work.

I have a use-case where I'd like to be able to access values from other columns in a given row inside of the callback that I define in the field defs.

I want to be able to link a text field to a URL based on data in another column in the row, but it doesn't appear there's any way

[2018-09-10 12:04] DominusKelvin commented on #114
Thanks. This would be solving a problem I had

[2018-09-11 07:28] FerX commented on #197
@amoshydra
can you give us more information for use in nuxt?
how do you load the plugin?
did you modify it and build it?

thanks.

[2018-09-11 11:29] ratiw commented on #524
@khalwat `__component` and `__slot` do get the whole row data, not just the column data. That means you can use them to solve your problem. The reason that the `callback` (renamed to `formatter` in v2.0) receives only the column value because it was meant to be used for formatting only.

[2018-09-11 11:32] ratiw commented on #523
@kazumi-kondo-forgevision I'm not sure if you really want to hide tag or hide the row. But if you want to hide one or more row from being displayed. You can just remove that row from the `tableData` variable. If not, please explain more.

[2018-09-11 11:39] ratiw commented on #522
@Georgeek `http-fetch` only pass you the `apiUrl` and `httpOptions`. You have to use the http library of your choice to do the AJAX request. If you use `axios`, you will have to call `axios.get(apiUrl, httpOptions)` to get the Promise and handle it appropriately. In order to pass other formData, you should be able to find some examples on `axios` documentation.

[2018-09-11 11:41] ratiw commented on #520
@fj02090710 Normally, you'd set the [`width`](https://www.vuetable.com/guide/fields-definition.html#field-options) option for every field definition and Vuetable will generate the `style="width: xxx"` on for each column.

[2018-09-11 19:25] khalwat commented on #524
Roger that. I ended up doing it a bit of a kludgey way, by passing down `data|data` in a field and splitting them in the `callback`

Using my own `__component` makes sense, I'll give that a go when I refactor things.

I absolutely _love_ Vuetable-2 -- thank you for this awesome package!

[2018-09-11 19:25] #524 closed, assigned to nobody

[2018-09-12 06:59] carol881221 opened #525 "checkbox problem"
I have a table with checkbox.
The current number of records is less the per-page.
When click the check all box,
![image](https://user-images.githubusercontent.com/8327052/45407515-34b17a80-b69c-11e8-8594-4a52a5fce766.png)
Is this correnct or  show
![image](https://user-images.githubusercontent.com/8327052/45407547-498e0e00-b69c-11e8-867f-91a245ce5bd3.png)
Is this a bug ?

[2018-09-12 15:23] ratiw commented on #525
@carol881221 Checkbox actually has [three states](https://css-tricks.com/indeterminate-checkboxes/): checked, unchecked, and indeterminate.

The one you point out is the indeterminate state. It occurs when not all checkboxes on the current page were selected. Vuetable will try to determine the correct state of this "select all" checkbox by checking if all, none, or partial the rows in the current

[2018-09-13 12:03] carol881221 commented on #525
@ratiw Firstly, thank you for your answer.
I use the branch lesson-16 of vuetable-2-tutorial to reappear this problem.
I change to per-page to 7, This problem will appear on the last page.
<img width="548" alt="image" src="https://user-images.githubusercontent.com/8327052/45487129-0319db80-b790-11e8-97ba-c9e1c4acb02f.png">
![image](https://user-images.githubusercontent.com/8327052/45487143-0d3bda0

[2018-09-14 01:59] ghost commented on #523
@ratiw I'd like to hide `<tr>` tag. not `<td>`. But `:fields=null` is not allowed.
Now, I've used `overflow: hidden;` on css. It's working well.
Do you have correct way? If you don't have it, I'll close this issue.
Thank you.

[2018-09-14 02:32] ratiw commented on #523
Hmm, I don't quite understand your use case why you want to hide `<tr>`. But if I were you, I would remove those "rows" from `tableData` (and put it in another array if I want to put it back in)

Basically, Vuetable will display every row in its `tableData` variable. If you do not want it to be displayed, just remove it from that variable. You can reference `tableData` via `ref` attribute, like so

[2018-09-14 03:25] ghost commented on #523
I'd like to create below table.
(the red mark is unread mark.)
![list](https://user-images.githubusercontent.com/19407719/45527569-5b47f080-b817-11e8-84b2-c73b4fe91266.PNG)

I know `this.$refs.vuetable.tableData` is `<td>` data but not `<tr>` data. Isn't it?

Now, I write below code. This is `fields` data.
I'd like to hide header title so to set the title is null.

[code]

My issue is not importan

[2018-09-14 03:25] #523 closed, assigned to nobody

[2018-09-14 03:38] amoshydra commented on #197
Yes, I had to modify the source file and build it.

Things I did to make this imported and render in nuxt
1. Modify `window` to use `global` in vuetable-2/src/index.js
2. Build the file (I didn't actually build it, I was editing the dist file directly last time)
3. Statically import `import Vue from 'vue';` `import Vuetable from 'vuetable-2';` `Vue.use(Vuetable);`
4. Wrap `<Vuetable>` inside `<no-

[2018-09-14 03:38] amoshydra commented on #197
@FerX, Yes, I had to modify the source file and build it.

Things I did to make this imported and render in nuxt
1. Modify `window` to use `global` in vuetable-2/src/index.js
2. Build the file (I didn't actually build it, I was editing the dist file directly last time)
3. Statically import `import Vue from 'vue';` `import Vuetable from 'vuetable-2';` `Vue.use(Vuetable);`
4. Wrap `<Vuetable>` insid

[2018-09-14 09:59] ratiw commented on #523
`tableData` is an array containing all the rows of data currently displaying. So, it is the `<tr>`, which contains all `<td>`.

[2018-09-14 10:34] ghost commented on #523
Wops! It's my mistake! I was really confused.
I'd like to hide `<thead>` tag.
My solution is `title: ''`.

Thanks!

[2018-09-17 14:58] craigwillis85 opened #526 "Rrefresh table based on vuex"
I have a global filter that sets some values in `Vuex`

Is there a way in vuetable to be able to detect these values and possibly refresh the table, possibly some some of watcher?

Thanks

[2018-09-17 17:31] zcwilt opened #527 "Is there an easier way to populate fields data"
Info:
Using v2 beta 3
Using api-mode=true

I have an api endpoint that can return table data and field data in a single call. However cannot work out a way to extract the field data to be used. Currently have to do 2 api calls.
e.g.
Automatic call to get data and a second call (using code like #149 )
Is there a simpler way. ???

I had thought about using automatic ``transform`` and extracting the

[2018-09-17 17:47] zcwilt opened #528 "New Field Component - best way to access cell value"

[2018-09-17 17:48] #528 closed, assigned to nobody

[2018-09-17 18:02] zcwilt opened #529 "New Field Component - best way to access cell value"
My vuetable is composed of custom components for every column.
It's something I am working on to replace a jquery datatablles implementation.

As an example I have a component called __boolean-index
This is meant to take a laravel model boolean field and render it with icons rather than 0 or 1

the SFC looks like

    <template>
        <th v-if="isHeader">{{title}}</th>
        <td v-else><i :cla

[2018-09-19 21:49] antonioribeiro opened #530 "Why add btn-nav to some pagination buttons?"
It directly conflicts with current bootstrap navigation, and we have 'pagination' properties exactly to let people do whatever they need with css, right?

[2018-09-19 22:14] #530 closed, assigned to nobody

[2018-09-20 01:31] ratiw commented on #526
Sorry, I don't use Vuex so I really can't answer the question.

[2018-09-20 01:39] ratiw commented on #527
@zcwilt The only way possible right now is to use `transform` function, but this will has side effect as `transform` function was meant to be used to transform the data page by page, e.g. 10 rows per page of total 100 records is 10 pages.

Including the field definition in the same payload will likely cause you to reparse it 9 more times than it needs to be. So, I would stick with 1 call for getti

[2018-09-20 01:43] ratiw commented on #529
@zcwilt Other than `rowIndex` and `rowField`, Field Component also get `rowData` which is the actual row data it is processing. So, you should be able to simplify `this.vuetable.tableData[this.rowIndex]` to just `this.rowData`.

[2018-09-20 09:26] zcwilt commented on #529
Thanks @ratiw  definitely makes it more readable.

[2018-09-20 09:26] #529 closed, assigned to nobody

[2018-09-20 09:27] zcwilt commented on #527
OK. Will stick with what I have at the moment, Thanks

[2018-09-20 09:27] #527 closed, assigned to nobody

[2018-09-27 15:33] jeffery9876 opened #531 "[next branch] vuetable-field-checkbox not being registered"
Hi,  I'm using the v2.0.0-beta.3 from the next branch, and trying to use special field __checkbox and it gave me the following errors:

[code]

I checked the code and believe it is simplify forgotten to not registered. Will take a look later to create an PR if @ratiw you have no time fixing it.

[2018-09-29 02:33] ratiw commented on #531
@JefferyLondon Can you please setup a simple project in CodeSandbox to reproduce this? I'll try to check it later. Thanks.

[2018-10-03 03:21] ttorch opened #533 "CTRL or SHIFT select row"
Is there a existing functionality to use Ctrl or Shift select rows?

[2018-10-03 12:04] a1lan1 opened #534 "How to transfer data to custom-actions components?"
Hey. I can not figure out how to transfer data from the main component to the custom component actions?

// MainComponent.vue
[code]

// js
[code]

Thanks!

[2018-10-03 12:58] ratiw commented on #533
Nope. However, the contribution on this feature is welcome.

[2018-10-03 13:09] ratiw commented on #534
There is no `actions` property in Vuetable. Did you go through the tutorial yet?

[2018-10-04 07:25] a1lan1 commented on #534
Yes, I went through the tutorial and could not figure out how to transfer the value of a variable from the Vuetable component to the actions component

[2018-10-04 09:50] a1lan1 commented on #534
I do not want to show in all tables, all action buttons. In some tables I can only show one button, in other tables, other buttons. I would like the input parameters to determine which buttons should be shown in this table.

[2018-10-06 12:09] ratiw commented on #534
Can you setup a sample project in CodeSandbox to demonstrate your problem so I can have a look at it? Based on what you've shown, I guess there is something incorrect in the field definition but I can't say for sure.

[2018-10-09 08:55] LeCoupa opened #535 "Add link to the documentation to project description"
You should update your project description and add the link to the documentation for easy access: https://ratiw.github.io/vuetable-2/

<img width="1001" alt="screenshot 2018-10-09 at 09 53 22" src="https://user-images.githubusercontent.com/1658644/46657945-60dfee80-cba9-11e8-94c5-1948fa3b3365.png">

[2018-10-10 07:25] johnny-human commented on #531
I had the same warning. But fixed it by registering the component globally like this:
`  import VuetableFieldCheckbox from 'vuetable-2/src/components/VuetableFieldCheckbox.vue';
Vue.component('vuetable-field-checkbox', VuetableFieldCheckbox);`

[2018-10-10 07:25] navysummer opened #536 "Unable to modify table height."
Unable to modify table height.

[2018-10-10 08:18] willjross commented on #348
Hello, I'm trying to implement sorting for local data as well, but when clicking on column headers I don't even see the console.log('dataManager:'.... from the dataManager method get called. Any idea what could be causing this? I'm not using pagination.

My instantiation:
                  <vuetable ref="vuetable" class="table-sm table-hover"
                    :api-mode="false"

[2018-10-11 13:27] ratiw commented on #536
Check this [codesandbox](https://codesandbox.io/s/wq540wrrnw) and see what is different in your case.

[2018-10-15 11:36] LeCoupa commented on #352
If this can help someone. (don't forget to add the id property to your data object!)

[code]

[2018-10-15 18:11] clemsontiger commented on #327
@almightynassar  did you ever resolve this? I'm having the same problem. I have varying content in the cells of my vuetable. for all but one cell I want it to fire a specific event. for the 1 cell, I want it to fire a different event. the cell-clicked works on all "regular" cells but not on template cells.

[2018-10-24 07:05] matt-spx opened #537 "Pagination showing last page + on-each-side"
If I am on the last page of my table, the pagination will show my last page in the center with additional page numbers to the right. For instance, if my last page is 8 and I have set up my pagination as follows:
[code]
I will get [<<][<][6][7]**[8]**[9][10][>][>>].
Any help would be appreciated.

[2018-10-25 20:44] matt-spx commented on #537
Resolved in #515.

[2018-10-25 20:44] #537 closed, assigned to nobody

[2018-10-25 22:00] matt-spx opened #538 "Add support for all custom html attributes"
It would be useful if we could assign html attributes in the fields definition in the same way that we assign dataClass. For example,  I would like to assign a data-label attribute to my fields as well as a value.

[2018-10-26 03:48] i-ked-ii opened #539 "filter dropdown"
![datatable-jquery-plugin-for-data-tables](https://user-images.githubusercontent.com/23306577/47543117-e59d6d00-d90a-11e8-9ee7-b058b1e0eacd.png)

สอบถามค่ะ
ลองทำแบบนี้โดยใช้จาก input จากตัวอย่างนี้ https://codesandbox.io/s/845nzwzk50
แล้ว search มันค้นหาไม่ได้ และ import VuetableRowHeader from "vuetable-2/src/components/VuetableRowHeader.vue" นี้ไม่มีใน node package จะสามารถหา VuetableRowHeader ได

[2018-10-26 03:49] i-ked-ii commented on #539
และมีตัวอย่างทำ filter dropdown ไหมค่ะ หรือสามารถทำคล้ายแบบนี้ได้ https://github.com/ratiw/vue-table/issues/147#issuecomment-282593190

[2018-10-26 12:27] matt-spx opened #542 "Pull request for next branch"
Hi there, the readme asks users to submit pull requests from the "develop" branch, but I want to build on top of the "next" branch. What is the best approach for this?

[2018-10-26 12:29] #542 closed, assigned to nobody

[2018-10-27 03:53] hirenkeraliya opened #544 "Issue: Pagination display pages index"
In the vue table 2 pagination display minimum 3 pages by the `on-each-side` property but how can i display  pagination links as per the fetched data. i think have not any possibilities
`<vuetable ref="vuetable" :api-url="api_query" :api-mode="isApiMode" :per-page="parseInt(recordsPerPage)" :fields="fields" :css="css.table" pagination-path="" :load-on-start="false" no-data-template="" row-class="ta

[2018-10-27 03:56] hirenkeraliya opened #545 "Issue: Reset pagination data when changes in the vue table data."
Can not reset the pagination pages details when the reseting the vue table data.

I have used the search based vue table in this every new search get the new data vue table is work fine with it but the vue-pagination not works good. that display old details.

[2018-10-27 03:59] hirenkeraliya opened #546 "Issue: Current page not be reset."
When i changes the per page records then the pagination display the old data like.

If i going to page number 4 and then set the par page is 25 then the pagination current page is to be reset but in real not reset the pagination pages that display current page is 4.

Makes the relation between vuwtable-2 and vuetable-pagination.

[2018-10-28 11:57] orangevinz opened #547 "TotalPage NaN"
Hey,

I'm on the @next branch
I might be wrong but the totalPage returns me a `NaN`

Does not work :
[code]

Work :
[code]
;-)

https://github.com/ratiw/vuetable-2/blob/98f779120cf94f351710ee88d231393877a261b8/src/components/VuetablePaginationMixin.vue#L34

[2018-10-29 09:08] matt-spx commented on #547
See #515.

[2018-10-30 12:23] ratiw commented on #539
ต้องเข้าใจก่อนครับว่าตัว UI (RowFilter) กับผลลัพท์การ search จริงแยกออกจากกัน RowFilter ทำหน้าที่สร้าง UI ในแต่ละ column เท่านั้น เราต้องรวบรวม text input มา append เข้ากับ httpOptions เอง เพื่อส่งไปให้ backend ทำการ search/filter ผลส่งกลับมาให้ Vuetable ทำการแสดงผลอีกทีครับ ตัวอย่างที่ทำไว้ยังไม่เสร็จครับ เพราะไม่มีเวลาว่างเลย

ส่วน filter dropdown ก็ใช้หลักการเดียวกัน คือมันเป็นแค่ UI แค่เปลี่ยน

[2018-10-30 12:27] ratiw commented on #546
@hirenkeraliya Have you check out [this example code](https://codesandbox.io/s/845nzwzk50)?

[2018-10-30 17:30] T0miii opened #548 "Query Params value override"
I noticed a strange things, so im not sure if im trying to do it the correct way but:

i try to control the table pagination via URL params:

https://my-website.com/#/users?page=2

so when i manually change the url to 3 i have  function triggered provided by vue router where i set append-params and refresh the table:

[code]

this works fine and the table gets paginated even the pagination compone

[2018-11-02 02:21] ratiw commented on #548
@T0miii I'm not really sure. Maybe try putting `this.$refs.vuetable.refresh()` inside `nextTick()` and see if it helps.

[2018-11-02 05:41] kingasds commented on #359
I have similar problem as well, and I am already using @next branch already
Could it be I am using api-mode="false" ?

I am currently using following method to temporary solve the issue.

1. adding a ref to you vuetable
`vuetable ref="vuetable"`

2. when ever you need to update the table, call following method
`methods: {
    tableUpdate() {
      if (this.$refs.vuetable) {
        this.$refs.vuet

[2018-11-02 05:48] kingasds commented on #404
I have similar problem as well, and I am already using @next branch already

I am currently using following method to temporary solve the issue.

1. adding a ref to you vuetable
`vuetable ref="vuetable"`

2. when ever you need to update the table, call following method
`methods: {
    tableUpdate() {
      if (this.$refs.vuetable) {
        this.$refs.vuetable.updateHeader()
      }
    }
  },`
(

[2018-11-02 11:00] hirenkeraliya commented on #546
@ratiw  Yes i will check this example but this example has also be the same issue like this.

[2018-11-02 22:34] mkantautas commented on #152
Just store apiUrl in the `data` property, this way it won't be reactive

[2018-11-06 09:44] supa-freak opened #551 "append-params does not send updated data"
Hi!
I am using 2.0 beta and am loading my table data from the API via POST and add the parameters using append-params. append-params is linked to a computed property that recalculates the data to append (it changes all the time since the tables feature some interaction where lines can be added and removed).
It works like a charm on pageload, but even though the computed property always shows the r

[2018-11-06 10:18] supa-freak commented on #551
Refreshes of the parent component came too early. nextTick solved it.

[2018-11-06 10:18] #551 closed, assigned to nobody

[2018-11-07 10:27] PrimozRome opened #552 "Is there a way to load detail row component on the fly and not register it globally"
I think using `Vue.component` and register detail component globally is not a very good practice. I mean it's not a big issue, but becomes when you have several tables in SPA application, meaningn I need to load all detail rows globally.

Is there work around for this?

[2018-11-07 14:14] ratiw commented on #552
If you use v.2.0, you won't have to. See [here](https://codesandbox.io/s/wq540wrrnw?module=%2Fsrc%2Fcomponents%2FMyVuetable.vue&moduleview=1) at line 82.

[2018-11-07 17:11] PrimozRome commented on #552
@ratiw Unfortunately the link above returns empty result. Nothing renders...

UPDATE: I checked the code. Very cool, thanks for the tip.

[2018-11-07 20:40] clemsontiger commented on #187
I believe some of my users ran into this problem. once I cleared the client machine chrome's "cached images and files" it worked. anyway to avoid this and make it so it's not cacheable?

[2018-11-08 01:49] thongtran957 opened #553 "Can't create scroll horizontal in vuetable2"
I can't create scroll horizontal in vuetable2. It only has scroll vertical.
How do I create scroll horizontal ?
Thank you

[2018-11-10 14:04] shehbaz-malik commented on #249
use the following code

        {
          name: 'groups',
          sortField: 'groups',
          title: 'Group',
          titleClass: 'text-center',
          dataClass: 'text-center',
          callback: 'customGroup' // method
        },

methods: {
    customGroup(data){
        var sG = ''
        for (var i = 0; i < data.length; i++) {

          //For Styling
          if(i%2 == 0){

[2018-11-10 16:59] T0miii commented on #500
Hi @ratiw ,

i also encountered this problem.
Using this style for bootstrap 4: https://www.vuetable.com/guide/css-styling.html#customization-for-other-css-frameworks

The html and font awesome markup seems fine, and the icon is even show initially.
But when clicking the header to sort the table gets sorted but the sorting class and icon class doesnt changes. Its stay at the initial desc.

Using t

[2018-11-12 12:20] ratiw commented on #553
This should be done in CSS. You can research more about on using CSS to make HTML table scroll vertically and horizontally.

[2018-11-12 13:06] zhangzhg opened #554 "Special Fields alway be __component"
if i add field like this: __slot:actions
then field will be replaced in code:
typeof(fieldName) === 'string' && fieldName.replace('__', this.fieldPrefix)
and next,  the function isFieldComponent when rander the header alway return true.
so, no else block, no others.

[2018-11-12 15:43] ratiw commented on #554
In v2.0 of Vuetable, you don't need to put `slot:` prefix to the field `name` option anymore.

[2018-11-13 11:07] tarun1793 commented on #85
@rodolfobubb have a look at https://github.com/ratiw/vuetable-2/pull/555

[2018-11-13 15:48] roelVerdonschot opened #556 "Cache current page, sort order and filter text"
I would like to navigate to and from the table and keep all filters (current page, sort order and filter text) so user don't have to reenter them, is this possible?

and if not, I can manually cache everything but how can I set the current page?

[2018-11-13 18:45] #556 closed, assigned to nobody

[2018-11-13 18:46] roelVerdonschot commented on #556
Didn't find anything in the docs so ill implement this manually

[2018-11-14 09:56] halws opened #557 "Sorting with custom field component?"
Hello, firstly I would like to say thanks for this beautiful table, it has already saved me a lot of time).

 Sorting toggle works perfect without custom component, and I think my main problem is how to trigger the table to change sorting field manually.

Also inside my custom component I can't get how to detect by which field table is sorted now.
Thanks

[2018-11-15 11:03] dharmatv opened #558 "how to hide thead"
In my table i don't want to show table header

is there any chance to do in vuetable2

please suggest

[2018-11-15 11:06] dharmatv commented on #558
already we have issue in vuetable like hide header, ref link:
https://github.com/ratiw/vuetable-2/issues/523

 i am trying this way but it is not work out in my side can you please suggest in any idea to hide in vuetable

[2018-11-17 05:13] vicnoob opened #559 "How to add custom icon to specify which col is sortable?"
Can I add custom Icon to thead to specify which column is sortable?
Something like ascendingIcon and descendingIcon at same position but when table is not sorted yet?

[2018-11-17 06:25] #559 closed, assigned to nobody

[2018-11-19 13:38] Om3rr commented on #328
it is :) @phaberest

[2018-11-20 16:50] OnlyReFLeX opened #560 "Use of data-* attributes"
I want to set the data attribute to my tr tag,  how to be?

[2018-11-20 17:04] tarun1793 commented on #558
would a `thead {display: none;}` work?

[2018-11-20 17:07] tarun1793 commented on #553
A good place to start is giving your table and tbody a fix `width` or `max-width` and then set the overflow to scroll

[2018-11-20 17:13] tarun1793 commented on #526
This can be done, but it's not on the table component to do this. The filter(s) should be watched within your table housing controller and a `refresh` call be made to vuetable accordingly. Also depends on what kind of a filter it is. If you are implementing a column chooser, then vuetable will pick it automatically from vuex

[2018-11-21 06:55] ratiw commented on #560
@OnlyReFLeX This is currently not possible. Might add this in v2.1.

[2018-11-21 06:56] ratiw commented on #558
@dharmatv,

@tarun1793's suggestion should work.

[2018-11-21 07:20] ratiw commented on #557
@halws Vuetable cannot really predict how it should sort column with custom component. But if you could explain your use case, it might have more idea on how this should be implemented.

If you would like to manipulate the sorting manually, you could use [`sort-order`](https://www.vuetable.com/api/vuetable/properties.html#sort-order) prop to manipulate how the sort should be done.

[2018-11-21 08:36] halws commented on #557
@ratiw Thanx for reply, my use case is next:
There is a table, which has custom fields component in its header. In each field, there should be two sortable cells.
<img width="569" alt="table" src="https://user-images.githubusercontent.com/16323637/48828353-c6f68e80-ed6f-11e8-8e63-456a2b91b54b.png">

Do you think possible solution could be use of event Bus?

[2018-11-21 11:17] #560 closed, assigned to nobody

[2018-11-22 10:59] ratiw commented on #557
@halws This is not possible for Vuetable since the `@click` event was bound in the `<component>` tag outside of the Field Component.

[2018-11-22 11:51] halws commented on #557
@ratiw Ok, now i get it). Anyway thank you.

[2018-11-22 13:38] halws commented on #557
For me the solution was to use [sort-order](https://www.vuetable.com/api/vuetable/properties.html#sort-order) prop with required sorting params.

Firstly, I created [custom field components](https://www.vuetable.com/guide/creating-field-component.html#creating-field-component), [which i registered locally](https://www.vuetable.com/guide/creating-field-component.html#using-your-field-component-loca

[2018-11-22 13:38] #557 closed, assigned to nobody

[2018-11-22 14:36] ratiw commented on #557
@halws I like that you can come up with a creative solution that could solve your problem. Thanks for sharing the solution. :)

[2018-11-22 15:45] dharmatv commented on #558
@ratiw and @tarun1793

Thanks for reply

According into my project it's not recommended to add above one, is there any option available

[2018-11-22 15:50] tarun1793 commented on #558
You can try to play with tmyour table zindex and give it a negative margin
top to hide the header behind the container element. It is not a robust way
though.

On Thu, Nov 22, 2018, 21:15 dharma <notifications@github.com wrote:

[2018-11-22 19:27] dharmatv commented on #558
Thanks for reply

i am not thinking this is not robust way but in my project without css we can complete this issue

[2018-11-23 10:10] lrembacz opened #563 "Sort functionality in data mode."
I am using VueRouter with new VueTable-2 from next branch. Good work BTW!

I had a problem with injecting sortOrder object into this vuetable from localStorage and I have used addSortColumn for that.

There is a BUG i think.

[code]

Shouldn't be direction taken from arguments?

For workaround there is a way to use it with
[code]

[2018-11-23 20:57] uka17 opened #564 "Issue while trying to use vuetable-2 with parceljs"
Hello!
Trying to use vuetable-2 with parceljs and have an error after assembling:
`vuetable-2-full.js:444 Uncaught ReferenceError: _Object$defineProperty is not defined`
Same code is working fine for webpack. Assembling of vue application with components, but without vuetable-2 is not causing any issues.

Here is the example which I'm trying to use:
**Project structure**
[code]
**main.js**
[code]

[2018-11-26 04:10] ratiw commented on #563
@lrembacz Thanks for the catch. Sorry for the inconvenience.

[2018-11-26 04:13] ratiw commented on #564
@uka17 I really have limited knowledge about the bundler, even with the webpack itself. But have you tryied importing from the npm package instead?

[code]

I think the bundler is supposed to compile from the source directly, not from the already converted code.

[2018-11-26 12:26] vukadinFE opened #565 "Pass props to detailsRow component @next"
Hi,
Thanks for great work.
I have one question related to the documentation: [https://www.vuetable.com/guide/detail-row.html#detail-row](url).
It says that  you can import and assign details row to a variable in data section and use it as a local component. That works very well, so now  I can use `:detail-row-component` attribute to assign component that sits in my parent `data()`.
My question is

[2018-11-26 19:10] uka17 commented on #564
@ratiw It works. You are genius! =) Thank you! But I still don't understand why it works - quite hard for me to dive so deeply into vue code features.

[2018-11-26 19:10] #564 closed, assigned to nobody

[2018-11-27 05:30] ratiw commented on #565
@vukadinFE There is actually a [`detail-row-options`](https://github.com/ratiw/vuetable-2/blob/next/src/components/Vuetable.vue#L256-L261) prop that I forget to document it. It gets passed to the detail row component [here](https://github.com/ratiw/vuetable-2/blob/next/src/components/Vuetable.vue#L84-L88).

Sorry about that.

[2018-11-27 22:22] #565 closed, assigned to nobody

[2018-11-28 10:54] benghan95 commented on #348
I have the exact same issue. I have added logging in the dataManager function and still it doesnt log anything when I toggle the column header. I can see the sorting icons are changing but it does nothing at all.

I'm using this version:
"vuetable-2": "^2.0.0-beta.4"

[2018-11-29 05:27] dharmatv commented on #558
At finally i got the answer

I had write custom props to this table

That's the reason i am closing the task

Thanks for every one who helped me

[2018-11-29 05:27] #558 closed, assigned to nobody

[2018-11-29 15:46] lrembacz opened #567 "Vuetable prop passed to SlotedField"
Hi there!

I can see you made vuetable as props for field when field is a component.
Maybe, you can provide the same for sloted field?
[code]

Just by adding.
[code]
For workaround we can use `this.$parent` for now.

[2018-11-30 05:36] ratiw commented on #567
@lrembacz That's a valid point. Thanks for the suggestion.

[2018-11-30 12:02] AllanVieira opened #568 "Apped-params , change query parameters in new version?"
Hello

first of all I would like to thank all the developers of the vuetable project.

after upgrading to version 1.7.5 the parameters passed through the append-params property are being sent in the HTTP request differently from how it was being sent.

![config1](https://user-images.githubusercontent.com/7756932/49287963-788b7300-f486-11e8-94bc-859e5d1b1c30.PNG)

![config2](https://user-images.git

[2018-12-03 06:57] benghan95 opened #569 "Data manager not triggering when toggle header"
Hello, I'm facing an issue on using data-manager in vuetable 2 using the next version (which is 2.0.0-beta.4). The data-manager is not triggering when I click on the table header. I have added logging in the dataManager function and it is not logged on the console also. Is there any wrong with it?

Here's how I setup:

[code]

[2018-12-04 00:31] AllanVieira commented on #568
i have make this workaround, this worked

![image](https://user-images.githubusercontent.com/7756932/49410397-8faeb700-f74b-11e8-832c-df6707a09f00.png)

[2018-12-04 10:18] lrembacz opened #570 "ClearSortOrder() bug. "Avoid mutatiting a prop directly""
There is a bug in clearSortOrder() and it could be present in more cases like that, when there are props mutated directly with "=". Props shouldnt be changed in child component. According to docs, there should be an event with value emitted back to parent.
https://vuejs.org/v2/guide/components.html#Sending-Messages-to-Parents-with-Events

There is .sync modifier as well. It can be useful with vuex

[2018-12-10 18:55] a21ns1g4ts opened #571 "tableHeaderClass doesn't work."
i can't write my class in` <thead>` tag in  `:css={tableHeaderClass} `

[2018-12-11 12:53] tamalsaha opened #572 "Plans for Vue 3"
Thanks for this table component. We are planning to use this with Vue 2.5 . But we are also thinking about the future. What are your plans for Vue 3? Are you planning to maintain and upgrade to new version of Vue when it is released?

Thanks.

[2018-12-17 00:39] Atiladanvi commented on #571
waiting the next  ,,

[2018-12-17 06:21] ratiw commented on #569
Sorry, for a very late reply, @benghan95.

This is because you set up your local data as an array `localData`.

When you supply your data as an array in Data mode, Vuetable will not call the data manager (see [this code](https://github.com/ratiw/vuetable-2/blob/next/src/components/Vuetable.vue#L1004-L1008)).

If you would like to work with the local data via DataManager, you will have to supply yo

[2018-12-17 06:36] ratiw commented on #570
@lrembacz Thanks for this. This has been overlooked for a long time.

[2018-12-17 06:37] ratiw commented on #571
Unfortunately, this is not possible at the moment. Can you please tell me why you would need this?

[2018-12-17 06:39] ratiw commented on #572
I hope so. :)

[2018-12-17 08:14] tamalsaha commented on #572
Thank you!

[2018-12-17 08:14] #572 closed, assigned to nobody

[2018-12-17 11:50] a21ns1g4ts commented on #571
![image](https://user-images.githubusercontent.com/11599205/50085076-c1a62b80-01d7-11e9-99ba-a1b48b5a7b2b.png).  Style my header class.
I work now whit `<thead :class="css.tableHeaderClass">` in line 162 of file Vuetable.vue 2@1.7.5.
Thanks for your feedback. Congratulation for this project. Not take your time if you are work in the next vuetable.

[2018-12-18 07:30] piyushbeli commented on #356
Probably this link can help you https://magenic.com/thinking/making-tables-responsive-for-mobile-devices
As vue-table-2 ultimately using HTML table it can be handled with pure CSS. Card view which is explained in this tutorial is something standard for the table row on the mobile device.

[2018-12-18 10:12] eyylen commented on #277
You can add a div inside with negative margins?

[2018-12-19 13:46] sajibcse68 opened #576 "Data rows not rendering correctly with Vuex for :key="itemIndex""
See: https://github.com/ratiw/vuetable-2/blob/master/src/components/Vuetable.vue#L217

In line 217,  when changing :key="itemIndex" to :key="item.id" it works (say, I've unique `id` in every `item`)

[code]

here, `getLists` is a vue computed methods that returns an array from a Vuex getters.

we've a Search Bar that filters the `getLists`. Say, we have 1 item returning from `getLists` after filte

[2018-12-20 10:05] maj0rr commented on #212
Hey @maryheng,
did you solved this issue? I got exact the same problem..

Please let me know :) thanks!

[2018-12-20 10:19] maj0rr commented on #212
see https://github.com/ratiw/vuetable-2/issues/226...

[2018-12-21 15:32] bert-w commented on #214
This is a design flaw. The axios instance should be assignable to the Vuetable component, so people can use their axios instances properly. Currently it is relying on the global instance, because the Vuetable.vue source code simply routes calls to the `import axios from 'axios';` line.

Something like:
[code]

[2018-12-27 09:54] arvenom opened #577 "Search Filter for V2"
is there an example of a general search filter?
setting `filterable: true` to the columns does not enable a general search input filter

[2018-12-29 01:41] jianfeng418 opened #578 "two tables with checkbox in one page"
I have two tables with checkbox in one page ,when i toggle one checkbox in  table A,the head checkbox in table B also toggle;
![edd34 t 7wrspop27 3 h5](https://user-images.githubusercontent.com/23209264/50531785-e50f9580-0b4a-11e9-8633-c4b6226217f5.png)

![2z 234o6gxx6bj 1udm5x 3](https://user-images.githubusercontent.com/23209264/50531849-6e26cc80-0b4b-11e9-93a6-61ade6a5b44b.png)

i think this is

[2018-12-31 03:30] eComEvo commented on #261
As of v2.0.0-beta.4 the formatter does not work in Vue.js 2.5.21. Here is what I am doing:
[code]

Tried declaring the function inline but no change to the column value.

Tried doing `formatter: formatStatusField` but that just throws and undefined error.

Tried downgrading Vue to v2.5.16 as mentioned in the 2.0.0-beta readme, but that does not solve it.

I'm uncertain if formatters work in earlie

[2018-12-31 03:32] eComEvo opened #579 "Formatters do not work"
As of v2.0.0-beta.4 the formatter does not work in Vue.js 2.5.21. Here is what I am doing:
[code]

Tried declaring the function inline but no change to the column value.

Tried doing `formatter: formatStatusField` but that just throws and undefined error.

Tried downgrading Vue to v2.5.16 as mentioned in the 2.0.0-beta readme, but that does not solve it.

I'm uncertain if formatters work in earlie

[2018-12-31 04:51] eComEvo commented on #579
The problem was caused by defining the fields instead of just referencing the prop. This fixed it:
[code]

[2018-12-31 04:51] #579 closed, assigned to nobody

[2018-12-31 05:56] eComEvo opened #580 "All event anchors in the docs are wrong"
https://ratiw.github.io/vuetable-2/#/Vuetable-Events

All of the event names on the page are simply `# vuetable` so they do not correspond to the index at the top making it difficult to tell what is what in the documentation.

[2018-12-31 07:06] eComEvo opened #581 "getSortParam does not work"
I've added the following:
[code]

Despite this method existing, the sort request still includes things like `name|desc` instead of `-name`.

Am I doing something wrong or is this a bug?

[2019-01-01 05:14] ratiw commented on #580
@eComEvo See [vuetable.com](https://vuetable.com) instead.

[2019-01-01 06:35] eComEvo commented on #580
Thanks!

[2019-01-01 06:35] #580 closed, assigned to nobody

[2019-01-02 13:10] kife-design opened #583 "Clearing all filters and reloading the data (vuex way)"
Hi,

I have a table that has column filtering. The filtering is done server-side and is using vuex to manage the data.

Is there an easy way to easy clear all column filters and reload the data? I searched for it in the docs but couldnt find anything.

[2019-01-03 14:39] mr-koww commented on #552
[Vue warn]: Invalid prop: type check failed for prop "detailRowComponent". Expected String, got Object.

[2019-01-04 22:50] Segueidx opened #584 "Problem with Images"
when i send an url trough a json field and click on download excel, the resulting  excel not recognizes it as an image, how can i achieve it?

[2019-01-07 09:54] #583 closed, assigned to nobody

[2019-01-09 23:39] #237 closed

[2019-01-10 08:29] joernroeder opened #585 "If sort-order prop is set, table headers no longer receive sorted class when clicked"
my column headers are loosing the sort direction class as soon as i add a `sort-order` prop to the table. sorting works still great as i'm picking the sort order up and doing it in datamanager manually.

[2019-01-11 15:53] a21ns1g4ts commented on #383
### I'ts is simple to add. look:
#### My custom component:
[code]
#### In My VueTable methods.
[code]
#### In my detail row default:
[code]

[2019-01-15 06:37] ijunaid8989 commented on #7
have anyone sorted this out for bootstrap?

[2019-01-15 07:11] ijunaid8989 commented on #416
width dont really work on vuetable.

[2019-01-16 06:11] khalwat opened #586 "Custom component issue with the fieldName / trackBy"
Thanks for VueTable, it's fantastic!

I have a small issue... I've created several custom components for displaying table columns, and it all works great... but the class assigned to all of them is:

[code]

I'd expected it to look like:

[code]

as per the examples here:

https://github.com/ratiw/vuetable-2/wiki/Special-Fields#-__componentname

https://github.com/ratiw/vuetable-2-tutorial/wiki/le

[2019-01-16 06:21] khalwat commented on #586
From here:

https://github.com/ratiw/vuetable-2/blob/master/src/components/Vuetable.vue#L21

It looks like it just uses the global `trackBy` prop from VueTable... but then how would this be different per component the way the other field TH's are?

My regular non-component rows have their name appended to the TH class:

[code]

[2019-01-16 20:17] bramchi commented on #585
I'm experiencing the same issue.

Without the `sort-order` prop, the table headers `<th>` receive the `sorted-asc` or `sorted-desc` classes when clicked.

With the `sort-order` prop set, the correct column is sorted by default, but the table headers `<th>` no longer receive the `sorted-asc` or `sorted-desc` class when clicked.

I suggest renaming this issue to: 'If sort-order prop is set, table he

[2019-01-16 21:42] intijk opened #587 "Would be great if could provide a typescript .d.ts"
Would you consider provide a typescript declaration file ?

I tried many methods to import it in vue+typescirpt but failed.

[2019-01-17 05:20] ijunaid8989 opened #588 "how to give table full width or let table expand with column width?"
As you can see
![image](https://user-images.githubusercontent.com/13561999/51297122-e42e9d00-1a40-11e9-9e6f-91b7f3ea2212.png)

The texts are not being shown fully. also width is not working on it

[code]

I have given widths as well but no width is being applied.

Is there any possibility not to have any width of the table. and then just let the table be as wide as columns widths go?

[2019-01-17 11:36] joernroeder commented on #585
@bramchi yes, thats a better name. renamed the issue!

[2019-01-18 12:42] ijunaid8989 opened #589 "formatter dont work on vuetable-field-checkbox"
Is there anyway to make it work?
[code]

this doesn't work. is there is a way to let format checkbox? I want to put a few other values as data attribute in this checkbox input.

[2019-01-23 13:19] DeepNESReverse opened #590 "component inside header"
Hello. I've faced with such problem. I need to put my own components inside header th. Please, give some advice about possible solutions. Thanks!

[2019-01-25 03:25] TurboControl commented on #261
It's a little too bad that formatter must be a function.
I have to install a formatter for every cell to support search highlight and possible nested data.
My field definitions are located on the server and it will support all sorts of data definitions.
So when I load the definitions, formatters must be applied in client.
If it referenced a method name, then I don't have to get fuzzy on scope.
Wha

[2019-01-25 08:49] ratiw commented on #261
You should create a [Field Component](https://www.vuetable.com/guide/creating-field-component.html#implementation-detail) instead, it has all the control you'll need.

[2019-01-25 15:31] thomasacrosby commented on #525
i've made pull requests with a patch to fix this

fix to master: https://github.com/ratiw/vuetable-2/pull/591

fix to next: https://github.com/ratiw/vuetable-2/pull/592

[2019-01-30 15:10] stumpfcr opened #593 "Trying to add slot and ending up with bad HTML"
`fields: [{ name:  "__slot:someactions"}]`

`<template slot="someactions" slot-scope="props">some text</template>`

result:
Instead of a td/th I'm ending up with:

`<vuetable-field-slot:someactions....`

What am I missing?

[2019-01-31 14:40] #590 closed, assigned to nobody

[2019-01-31 14:57] steffenr commented on #494
@sylvaincaillot Thx for the sample. But it seems to be broken. While typing in some name i don't see any search/filtering happening in the table.

[2019-01-31 21:35] #178 closed

[2019-01-31 21:36] #535 closed, assigned to nobody

[2019-02-01 06:29] kushan2 commented on #556
How did you do this? any clue?

[2019-02-01 06:53] kushan2 opened #594 "Loading table with pre settings like sorting and page"
Cache current page, sort order and filter text

I  would like to navigate to and from the table and keep all filters  (current page, sort order and filter text) so user don't have to reenter  them, is this possible? and if not, I can manually cache everything but how can I set the current page?

[2019-02-05 10:16] MichaelNgugiN commented on #80
Came across the same issue when using _checkbox:, for laravel > 5.4, array_flatten() does the trick

[code]

[2019-02-06 10:11] divya-500 opened #595 "How to remove header in vuejs table2 ?"

[2019-02-11 20:28] viniciussvl opened #596 "How to use Vuex with the table?"
Hello everyone, do you have any examples of Vue Tables 2 with Vuex? I do not know how to integrate, just change the prop useVuex to true and create the mutations?

[2019-02-15 22:22] coryrose1 opened #598 "Removing 'fixed' CSS class from <table>"
Hi and thanks for the great package.

I am specifying classes via the CSS prop, however it always lists "vuetable [my classes here] fixed".

I'm wondering if the CSS class 'fixed' is default to the table and if it can be removed? Is there a reason it is a default?

Thanks again!

[2019-02-15 22:24] #598 closed, assigned to nobody

[2019-02-15 22:24] coryrose1 commented on #598
This was solved by overriding `tableBodyClass`

[2019-02-16 12:36] BenRoe opened #599 "Vuepress integration/plugin"
Hello,
i wanna use vuetable-2 with [vuepress](https://vuepress.vuejs.org), but i am vue noob.
Is can someone help me  and point to a direction, post some code examples, or even better and create a [vuepress plugin ](https://vuepress.vuejs.org/plugin/).
Many thanks.

[2019-02-17 19:01] BenRoe commented on #599
Got it to work. Maybe this helps some other noobs.

Install Vuetable with `npm install -D vuetable-2@next` or `yarn add -D vuetable-2@next`

Create a file `.vuepress/components/Vuetable.vue` in your root project folder.

[code]

Add `<Vuetable/>` to your .md file where the table should be displayed.

[2019-02-17 19:01] #599 closed, assigned to nobody

[2019-02-18 09:51] halws opened #600 "Open all detail-row on start"
Hello, in my usecase i need to have all detail rows opened on start.
I decided to open them on some of vuetable's events, but maybe there is more
efficient way to do it?

[2019-02-19 06:06] rahulpanteon opened #601 "Is it possible to hide check-boxes?"
I'm using checkbox special field. Is it possible to hide checkboxes on some rows?
http://jsfiddle.net/syahrasi/80w5sj4t/

[2019-02-27 06:31] topclaudy commented on #557
You may also use the `orderBy` method of vuetable

[code]

[2019-02-27 21:57] TurboControl commented on #344
Closed without support? I am working around this by wrapping the `title` with a div that includes the HTML tag title. e.g. `{ title: '<div title="Column tooltip">Column Name</div>' }`. I do this on the fly as I keep my definition clean with `{ title: 'Column Name', description: 'Column tooltip' }`. It would be ideal if this was natively supported. Maybe someday I can do a pull request.

[2019-03-01 00:39] TurboControl commented on #553
This gets tricky when you want some columns to have white space wrapping. What I tried to do is have a min-width of 1000px and then horizontal scroll appears on table. Should have been a simple CSS, but browser wouldn't behave as expected. I tried all sorts of things, but the only thing I was able to accomplish was get a scroll to appear only after the cells get crammed right before they turn to e

[2019-03-05 13:23] JBtje opened #602 "support for makeVisible()"
Since I've started using this plugin, I made some changes. Recently I came across the problem that "makeVisible" is not supported on the output. The solution can be found [here](https://github.com/laravel/framework/issues/16501), which I added to my local version of Vuetable.

For anyone who wants to do the same, but too lazy to figure it out:

Perhaps it can be included in a next release?

**Usag

[2019-03-05 13:24] #602 closed, assigned to nobody

[2019-03-07 08:35] MaximeDawn opened #603 "Can't get <th> ids"
Hi, first of all, thanks for vuetable, it's awesome ♥

I have an issue trying to fix the width of my columns. I saw a tutorial in another issue showing that you can get `<th>` id to overload it's CSS like so : `.vuetable th#_thId { width: 50%; }`
Problem is, when I inspect my page, it seems like my `<th>` doesn't have any ID.

So is there anything i'm missing ? If someone can help me.

Here's the

[2019-03-07 10:19] MaximeDawn commented on #601
I don't know if I got you well, is that the kind of thing you're looking for ? :thinking:
(Pretty useless, but checkbox is visible only if `name = Cat` )
http://jsfiddle.net/nh3z0Lbe/2/

[2019-03-07 11:54] rahulpanteon commented on #601
Yes this is how I want.

[2019-03-08 14:53] MaximeDawn commented on #596
I posted this issue with a bit of code, table is displaying Vuex data :
https://github.com/ratiw/vuetable-2/issues/603#issue-418187281

[2019-03-10 22:12] grafxflow opened #604 "Is it possible to give Individual columns td and th different css styles?"
Is there anyway to give individual columns different styles including td and th tags?

So for example there are some I want hidden based on mobile devices so want to add bootstraps

`.d-none d-sm-table-cell`

[2019-03-11 19:39] bert-w opened #605 "API mode / Data mode"
So I was wondering why there actually is an API mode and a Data mode. Doesnt this unnecessarily make things complicated? Shouldnt you just always want to use data mode, and have some simple properties that you can set to use the API system?

The complexity of the API options here https://www.vuetable.com/guide/api-vs-data-mode.html#api-mode seems unnecessary. You can get away with providing only 1

[2019-03-12 17:28] grafxflow commented on #604
Sorted....

[code]

[2019-03-14 18:13] n05la3 opened #606 "api-url weird issue with endpoint"
Hey, a great component there. Just started implementing vuetable-2 in my project, all worked well with https://vuetable.ratiw.net/api/users endpoint until i changed the api-url to my own api endpoint. My backend actually uses a prefix 'en' (http://link.com/en/) for all non api request, strangely :**api-url="http://link.com/api/users"** which is my api endpoint ends up sending the request to http:/

[2019-03-15 13:52] clemsontiger opened #607 "Event that runs after rendering of table title"
I've got an icon in my pagination table title. For that icon I call a tooltip library called "tipso" and triggers a custom tooltip on the icon when mouseover. however, it does not work after filtering the vuetable. I'm guessing because the title gets re-rendered. Is there an event that runs after the rendering of the table title? I've already tried events 'loaded' and 'load-success' but still didn

[2019-03-16 04:16] ijunaid8989 opened #608 "how to update each row cells with HTTP request"
I have created a report in which there are 15 columns.

First 2 columns are coming through endpoint but api mode false.

and then on Mount, I am sending almost 57 requests to get information about each row, and then append it to the table through jquery.

Is there any better way of doing it??

I understand the row expand feature.

But there any possibility to update table rows? so sorting should s

[2019-03-19 13:31] grafxflow opened #609 "Pass data.total to table header"
Is it possible to add the data.total result value to the tables header from an axios.post api?

So example being 23 Books

[2019-03-19 18:22] grafxflow commented on #609
Okay I seem to have sorted this part but now have an issue with the table not showing/refreshing the data.

[code]

[2019-03-20 15:34] nhatnguyen0503 commented on #531
import VuetableFieldCheckbox from 'vuetable-2/src/components/VuetableFieldCheckbox.vue';

  {
    name: VuetableFieldCheckbox,
    titleClass: 'center aligned',
    dataClass: 'center aligned'
  }
I fixed too

[2019-03-23 14:29] goalstogrowth opened #610 "Using a component in a formatter function"
Is there a way to use a component in a formatter function for a field?

Returning just text is rather limiting if you need to add click and hover actions to what you need to pass to cell. For example, I would like to use Vue Bootstrap to add a tooltip to the content of a cell (but not the cell itself since it can contain multiple elements that each need their own separate tooltip). I can add the v

[2019-03-29 12:26] ijunaid8989 commented on #609
If you have API mode=false enabled.

then ` this.$refs.vuetable.refresh();` this will not work.

instead of that, you can re-assign values to data or, get new data and use set methods

[code]

Use the same watch but instead of refreshing just setData, it will work.

[2019-03-29 12:29] ijunaid8989 commented on #604
you can even use an stylesheet to sort this out but you need to define the TableWrapper first.

[2019-03-29 12:30] ijunaid8989 commented on #606
Can you show the code?

[2019-04-02 13:31] hellomikes opened #611 "Pagination doesn't seem to be updating as expected"
Hi

I've just implemented the pagination mixin for this and I seem to be getting an issue with the number of pages being returned.

I am storing a lot of the required parameters in a Vuex store (per_page, total etc.) and storing the data attribute after an axios call.  We are then filtering this data, which basically re-runs the above and updates my store values for total etc (this is returned by

[2019-04-03 16:08] ingfada opened #612 "Reorder rows"
Hi, I'm new with Vuetable2.... but it is great
Is possible to reorder rows? I have seen there is '__handle' field for SortableJS, but I don't know how use it.
Thanks

[2019-04-05 06:25] goarun112 commented on #114
`this.$refs.vuetable.refresh()` is not working for me I'm using graphql endpoint to the data table.how to `reload()` or `refresh()` the data table

[2019-04-05 06:37] goarun112 commented on #492
`this.$refs.vuetable.refresh()` is not working for me I'm using graphql endpoint to the data table.how to `reload()` or `refresh()` the data table

[2019-04-09 09:47] drascom commented on #438
hi Georgeek  thanks for your effort could you share full code implementation at codepen or jsfiddle ?
tip:
1 - dont forget to add
[code]
2- "optimizedResize" is not working at opera browser.  i used "resize" instead.
    window.addEventListener('resize', this.windowResize)

[2019-04-14 19:03] guidobuilds opened #613 "Can't Perform table refresh of table in child component"
I have a component "Customers". Inside of it I have a vuetable-2 (in a child component) and a modal to create, update, delete customers... The problem is that i want to reload o refresh the table when i create, update or delete a customer. The way I'm traying to do it is:

When i want to reload i put:
`Fire.$emit('CustomerInform');`

My fire function:
[code]
The configuration of my vuetable:
[code

[2019-04-16 12:26] wxy12 opened #614 "Pagination missing props "fields""
I try a demo in Data mode using data-manager.but get error like tiltle.trouble me a lot of time.thanks for answer  and discussing.

[2019-04-17 09:14] wxy12 commented on #614
import pagination from wrong path

[2019-04-17 09:15] #614 closed, assigned to nobody

[2019-04-17 13:56] cannap opened #615 "latest beta ssr not working"
Hi, thanks for this awesome Components but i have a problem
with the lastet beta i get in nuxt
 `ERROR  [Vue warn]: Error in beforeCreate hook: "ReferenceError: document is not defined"`

i have seen there is a ssr fix but it does not work i always need to wrap it in `<no-ssr>`

thanks

[2019-04-18 17:28] alao115 commented on #531
Help please... I got this error while using the special field __checkbox
**[Vue warn]: Unknown custom element: <vuetable-field-checkbox:> - did you register the component correctly? For recursive components, make sure to provide the "name" option.**
here is the file
[datatable.zip](https://github.com/ratiw/vuetable-2/files/3095502/datatable.zip)

[2019-04-22 02:35] VinceG commented on #610
@goalstogrowth Was looking for the same thing myself and found this:
https://www.vuetable.com/guide/special-field.html#field-slot

that worked for me.

[2019-04-22 04:09] xiejinhe opened #616 "field callback is called the value"
callback is called the value of the field will be passed as well as the additional parameters, expected rowData

[2019-04-24 08:38] renielsalvador commented on #569
@ratiw I have similar problem and I changed my :data to object and added data-path. Now, it doest render the list. What seems to be the problem?

[2019-04-24 09:52] renielsalvador commented on #317
@ratiw Is there a way to only allow specific column header? just like how we are passing __slot in fields name?

can we do in title field __slot too?

[2019-04-24 11:12] xiejinhe opened #617 "About special fields __checkbox"
when manually choose checkbox for checkboxAll style is '-'.
automatic choose style is '✅' by $refs.instance.selectedTo.push().
thanks!

[2019-05-02 10:03] ijunaid8989 opened #618 "Filter through API and VueEvents."
We have been using Vuetables with `api-url` provided and data mode off.

As Described in https://github.com/ratiw/vuetable-2-tutorial/wiki/lesson-13 for search Filters, I also have been using Vue Events.

The issue I am having right now is:

While searching (Typing some characters in search filters), sometimes it loses the connection with API.

I first search for `Ju` and it gave me 30 results. th

[2019-05-07 09:36] ramonakira opened #619 "Switching between with-checkbox-column or without-checkbox-column returns an error"
Hi,

I am using vuetable-2 to display some tabular data. When that data lacks an identifier we don't add the checkbox column. If we then switch to some data that has the identifier we want, we add it back in again.

I've made a simple example using CodeSandbox where the buttons switch the display of the checkbox column: https://codesandbox.io/s/6v9vl5z7wn. When the page loads the checkboxes are th

[2019-05-20 03:44] belladonnaf opened #621 "How to display multiple fields at table data ?"
json data is someting like that
...
"data":[{"id":1,"symbol":"TRX","deci":0,"decimal_param":1,"is_show":0,"amount":"0.0000","price":"0","first_price":"14","last_price":"14","min_price":"14","max_price":"14","delta":"0.0000","delta_rate":"0.00","delta_flag":"up"},{"id":2,"symbol":"BTC","deci":3,"decimal_param":1000,"is_show":1,"amount":"17.6670","price":"123026520","first_price":"7202000","last_pri

[2019-05-20 17:08] kskrlin opened #623 "Default style as optional through prop"
Some components have default style which can be overridden only by using !important (which is never recommended solution) or by forking the repository.

Can you add property (for example defaultStyle) which can be passed through each component (Vuetable, VuetablePagination, VuetablePaginationInfo) to enable/disable default style?

[2019-05-28 07:51] michaelsmedley commented on #611
FYI, an update to v2.0.0.beta-4 has solved this, think it was sorted in https://github.com/ratiw/vuetable-2/pull/515

[2019-05-28 07:52] #611 closed, assigned to nobody

[2019-05-28 19:23] short-bench commented on #610
@VinceG The formatter function is not working for me. I tried your link with the named slots, but it's also not working. I see absolutely no change. In the code below, I return field called "amount" from the API and have a named slot called "amount-slot" (that's how I understood the example). I also tried with using the "formatter" property in  the FieldsDefinition.js file, but with no success.

H

[2019-06-04 09:16] SacDin commented on #577
any plans for this ?

[2019-06-04 09:34] muscle-rhnkyr opened #624 "Please bump axios version to get rid off npm warning"

[2019-06-09 09:28] azzhcoder commented on #624
Yeesss, as sooon as possible!

[2019-06-12 03:06] lionslair commented on #624
Created a pull request for it.

[2019-06-15 00:12] VinceG opened #626 "Passing slots to children"
This has been asked before #101 was wondering if we have any solution to this problem as i am having the same use case where we have a vue-table component that we reference in some parent components and would like to pass in the scoped slots to it.

[2019-06-15 00:22] VinceG commented on #626
Looks like it's now possible in 2.6 using scopedSlots variable. So inside the child component where vue-table resides you'll add the following code

[code]

for example:

[code]

[2019-06-15 00:22] #626 closed, assigned to nobody

[2019-06-17 17:48] vimalrajgit commented on #531
@alao115
import VuetableFieldCheckbox from "vuetable-2/src/components/VuetableFieldCheckbox.vue";
//the above code will import the vuetable checkbox functionality.
in place of __checkbox put the  **VuetableFieldCheckbox ** without quotes

**{
name:  VuetableFieldCheckbox ,
titleClass: 'text-center',
dataClass: 'text-center'
}**

[2019-06-17 22:56] deylyn commented on #464
esto no me funciona

[2019-06-18 22:08] egidiocs commented on #621
I think you can't.
You need transform your data to get the desired results.

this will overwrite delta property :
`data.forEach(d=>d.delta  = d.delta + " " + d.delta_rate);`

this will create a new property :
`data.forEach(d=>d.showThisDeltaInfo  = d.delta + " " + d.delta_rate);`

[2019-06-20 17:32] booni3 commented on #509
@ratiw - Awesome thank you. This really helped!

[2019-07-07 01:19] stelgenhof commented on #624
Yes, please upgrade the Axios dependency as soon as possible. Axios has a security vulnerability which has been addressed already (See also: https://www.npmjs.com/advisories/880)

Thanks!

[2019-07-09 09:51] jannvck opened #627 "Zero Based Pagination not working"
Zero Based Pagination does not work [as described in the docs](https://www.vuetable.com/guide/pagination.html#zero-based-pagination).

Setting `:first-page="0"` has no effect, no matter which number is set.

You can reproduce it with any API-based example e.g. [Vuetable-2: Adding Pagination example](https://codesandbox.io/s/6x0o35j9p3).

[2019-07-16 20:21] binoperez opened #628 "VuetablePaginationInfoMixin - Expected ':' error in IE"
Hi I am using vuetable, vuetable pagination and vuetable pagination info on my app. But for some reason it is not working on IE and found out that it's because of this line of code:

![image](https://user-images.githubusercontent.com/25294018/61326642-e2ba1380-a7dc-11e9-972e-f0c07c8dea2a.png)

I think it is because my app was not able to transpile the function shorthand syntax.

Below is how I imp

[2019-07-26 15:17] marekfilip commented on #627
It's a omission in documentation.
Property `:first-page="0"` should be used on `<vuetable-pagination />` not `<vuetable />` itself.

[2019-07-27 12:38] aviTwito opened #629 "table does`nt work properly with vuetify"
I am trying to use the table with project which has vuetify installed in it.
I used the tutorial template and have 2 problems.
A.First the background color is for some reason blue.
B. At part 6 of the tutorial, When its shows how its able to use HTML code as the value i tried using v-button and it does now shows as it should:

The relevant fields within the fields array:
`{
          name: 'Passed

[2019-07-28 21:53] kismonguz commented on #443
I had same issue, but in my application the token may change. based on @e-abdelbasset idea, my solution is to use reference types instead of value types:

[code]

[2019-08-11 13:08] akinhwan commented on #64
I have the same issue

[2019-08-13 05:45] bobuting opened #630 "when i sort i don't know which column is selected"
when i sort i don't know which column is selected

[2019-08-20 12:30] hilmanfitriana19 opened #631 "display empty array due data deletion"
Hello ratiw, I am trying to use the table to display data array. In my table, I add button in every row to delete one row of data. When the array have many data, and then I click the button on one row of the data, the deleted data have been removed from the display  The problem is when there only one data left in array and then I click the button, the array already empty but the table still displa

[2019-08-27 20:47] webhive opened #632 "Per column sort icons"
It could be good to have a feature to specify sort icons per column
For example FontAwesome has a rich set of possible sorting icons https://fontawesome.com/icons?d=gallery&q=sort

[2019-08-30 18:22] pascalresch commented on #581
+1

[2019-09-10 14:10] Leonidas199x commented on #401
Has anyone been able to achieve this? I am looking to do a similar thing, but am having a real struggle getting the two components to know anything about one another, for it to actually look like a total that applied to the vuetable.

[2019-09-13 04:22] iamjodi opened #633 "<td> special condition styling"
Hi,

I want to ask, is that possible to color a td with spesial condition.
Currently i use callback(), but only tag span for a data.

I want to use dataclass() with some validation depends on value.

can i?

Thanks

[2019-09-13 07:32] iamjodi opened #634 "dataClass function passing value field"
Hi,

Its possible to make dataClass value using function and passing parameter field value.

for example:
fieldstbDashboardtData: [
        {
          title: 'Data',
          name: 'Data',
          sortField: 'data',
          dataClass: this.datacolor(value),
        },
],

methods: {
      datacolor(value){
        if(value==1){
          return 'green'
        }else{
          return 'red'

[2019-09-16 10:12] iamjodi opened #635 "Auto refresh vue-table"
Hi,

Can we set timer for auto refresh vuetable-2?

**Vue.nextTick( () => this.$refs.tbData.refresh() )**

I want to refresh every 2, 5, 30, 60 minutes. By user choosen.

Thanks!!!

[2019-09-19 11:46] MishaJexia commented on #629
same problem

[2019-09-23 09:40] muscle-rhnkyr opened #636 "Any active fork with full pull request?"

[2019-09-26 08:07] srinivas146 opened #637 "Where should i need to make changes in order to use tailwindcss instead of semantic-ui css"

[2019-09-26 11:40] Ajmal-Hossain commented on #172
what if the images are from database?

[2019-09-27 23:46] svkmedia opened #638 "Sort by integer but null values last"
Is it possible to put null values in sort column to the end of results?
I tried to format null values on my backend to 999999 but they were anyway first (before 1). How is this working? Should I somewhere specify that columns has only integeres?

[2019-09-28 10:06] svkmedia commented on #638
Ok solved it... I forgot that I should sort results server side :)

[2019-09-28 10:06] #638 closed, assigned to nobody

[2019-10-10 04:10] enno28 commented on #242
i found this issue too, how to solve this problem? i'm tired with it

[2019-10-10 06:51] donggyu04 opened #640 "How can i always show sort icons?"
Sort icons is only show when click specific column title.
how can I make all sort icons always visible?

thanks in advance.

[2019-10-10 10:41] Heavenwalker opened #641 "Change color of row, Please help"
I've managed to create an inline edit grid with vuetables using slots. The problem is that the color of even row has the exact same color with the input I am using ( Vuestic).
 I tried to use row-class, i tried to use data class but to no avail, even though the class is attached, even rows always have this "aliceBlue" color.

Please please give me your suggestions

Thanks a lot

[2019-10-13 08:00] mszkb commented on #641
You can use CSS to change the color for all odd and even rows.
`tr.odd {
  /* your styles here */
}`
`
tr.even {
  /* your styles here */
}
`

[2019-10-13 08:16] mszkb commented on #640
I can't see anything in the source code that lets you control the sort icons. You need to handle that yourself.

`
th.sortable {
  /* anchor point for our :after pseudo class*/
  position: relative;
}

th.sortable:after {
  /* create the sort icon with css */
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  content: "\f077";

  /* Position the icon with pixel

[2019-10-14 05:24] Heavenwalker commented on #641
I think i've tried this as well, I'll try it again and let you know